[2019-12-08 16:16] ResoDev opened #3 "RangeError when running build"
Hello!
Even a simple widget like this:
[code]

Causes a build error:
[code]

I am running Flutter 1.9.1+hotfix.6 and package versions 0.111 for auto_route, 0.1.2 for auto_route_generator.

[2019-12-08 21:19] Milad-Akarie commented on #3
@ResoDev  hey! I couldn't reproduce the error. There was an issue with the analyzer package though and I just fixed that. Can you please try again?

[2019-12-09 08:02] AndrewSheetMetal opened #4 "How to implement a Nested Navigation?"
Hi there!

Very cool packages, can save a lot of time!
I have one question: Is it already possible or planned to integrate Nested Navigation with your Package?
So that we have a NestedRouter Class or so.

Best regards
Andy

[2019-12-09 21:08] Milad-Akarie commented on #4
Hey Andy, it is actually work in progress so stay tuned.

[2019-12-10 13:31] ResoDev commented on #3
Unfortunately, updating to 0.1.3 and even removing all other dev_dependencies doing code generation didn't help. Still the same issue.

[2019-12-10 14:26] Milad-Akarie commented on #3
I've never ran into this error during development and I can't reproduce the error now. Can you please share a gist or something?

[2019-12-10 16:07] ResoDev commented on #3
I'll try it in a clean new project and let you know ASAP. It doesn't make any sense at all.

[2019-12-10 18:15] kuhnroyal commented on #4
Was wondering about the same thing. Really love the simplicity of this library.

[2019-12-10 18:25] kuhnroyal commented on #3
Maybe run the generation with `-v` to get a stack trace.
The only operations producing a RangeError seem to be some path replacements with `lib`.

[2019-12-10 18:30] kuhnroyal opened #5 "Keep @required annotations when generating route argument classes"
My `@required` annotations from my page parameters get lost inside the generated arguments classes.

I think it would be great if they get generated as well, maybe even some automatically generated asserts for `@required` parameters.

[2019-12-10 18:39] Milad-Akarie commented on #5
How did I miss the @required annotation!! Thanks for bringing that to my attention. I will make sure its included in the next build.

[2019-12-10 18:46] Milad-Akarie commented on #4
@kuhnroyal Thanks, nested navigation handling will be included in the next build.

[2019-12-11 11:36] kuhnroyal opened #6 "Rename router.dart to router.g.dart"
Maybe this can be renamed, it seems to be a convention for generated files.

Currently one has to manually add `router.dart` to .gitignore where as `router.g.dart` would often be ignored by default.
In my case I have to also change build files in CI because `router.dart` doesn't match the pattern.

Maybe even allow changing the file name and path by adding an `@AutoRouter()` annotation or somethin

[2019-12-11 16:30] Milad-Akarie commented on #6
Hey @kuhnroyal! as stated in the docs I shouldn't use the `.g.dart` extension unless I'm using a SharedPartBuilder, because other libraries might use the same file to generate their part of code.
I thought of renaming it to something like GRouter or GeneratedRouter  to indicate that it's generated, but that still won't help with .gitignore part and that can be a pain if you don't manually ignore i

[2019-12-11 18:54] kuhnroyal commented on #6
Yea you are right, that's why I suggested the code sample above which would make it a `SharedPartBuilder`.

I also noted another issue today which I didn't think of before. I am working a lot with `build_runner watch`. Now having a couple of pages/routes, anytime I change something unrelated to routing in one of these pages, it get's regenerated. Not sure how to solve this other then creating wrap

[2019-12-12 11:08] Milad-Akarie commented on #6
@kuhnroyal  watch mode literally watches the file system for changes.
What do you think of having all the Routes declaration in one file instead of annotating the actual route widgets?

I'm thinking something like a route-config file

@AutoRoutes(..global-config)
const List<AutoRoute> = [
InitialRoute(HomeScreen),
AutoRoute(SecondScreen, ....explicit route config),
]

[2019-12-12 12:32] kuhnroyal commented on #6
I think this would help a lot.
Maybe you can support both ways, and then just merge all and check for duplicates.

[2019-12-12 12:39] Milad-Akarie commented on #6
I'm having second thoughts about this. The whole idea was to not get distracted from the working source file (Your Widget) but not you have to open the route-config file and edit it.

[2019-12-12 13:11] kuhnroyal commented on #6
With support for both ways, this would still be possible.
I love the whole idea of having the annotation on the class, but it is unusable with watch mode.

[2019-12-12 14:37] Milad-Akarie commented on #6
Even with the single config file approach the watch mode problem still persists.

[2019-12-12 16:06] kuhnroyal commented on #6
Yea, since the generator checks for arguments. It probably needs to cache those and abort if there are no changes to the constructor signature.

[2019-12-12 16:19] kuhnroyal commented on #6
I just removed the generator, now the watch mode causes a re-run of all generators on changes but all my other generators notice that nothing needs to be done - it takes < 1 sec.

With the auto_route generator, when I change something completely unrelated, it re-runs several times and takes > 30sec.

[2019-12-13 15:56] Milad-Akarie commented on #6
@kuhnroyal  I was just focused on making it work, I'm working on a new approach now, maybe you can help me test it out. ...How many screens do you have? also how does this look?

@autoRouter
class _$Router {
  @initial
  HomeScreen homeScreenRoute;
  SecondScreen secondScreenRoute;
}

[2019-12-14 14:18] Milad-Akarie commented on #5
done in version 0.2.0.

[2019-12-14 14:19] #5 closed

[2019-12-14 14:19] Milad-Akarie commented on #4
done in version 0.2.0

[2019-12-14 14:19] #4 closed

[2019-12-14 14:20] Milad-Akarie commented on #6
@kuhnroyal  please check out version 0.2.0 whenever you get the chance and share your thoughts.

[2019-12-14 14:24] Milad-Akarie commented on #3
@ResoDev  I've used a totally different approach in the new version 0.2.0 be sure to check it out and share your thoughts.

[2019-12-14 19:49] ResoDev commented on #3
I'm happy to announce that with the approach taken in 0.2.0 (and hopefully beyond 😅), there are no crashes. Great library, keep it up!

[2019-12-14 19:49] #3 closed

[2019-12-16 12:01] kuhnroyal commented on #6
This looks really good, no more endless rebuilds.
Still not sure if this is a good way to go with having to import the generated router file.

[2019-12-16 12:03] Milad-Akarie commented on #6
@kuhnroyal  What do you have in mind?

[2019-12-16 12:07] kuhnroyal commented on #6
Looking at this I feel this should become a shared part builder but I am not sure how to solve the name conflict of the route declaration/string name and the imports of the generated routes argument classes.

[2019-12-16 12:14] Milad-Akarie commented on #6
The main problem here is that part files can not import anything and as you can see I'm doing all of importing in the generated file.

[2019-12-16 12:35] kuhnroyal commented on #6
Yea I have looked at it and I am not sure how to solve it. I will think about it a little more.

[2019-12-16 12:36] Milad-Akarie commented on #6
I appreciate the effort. let me know if you come up with something.

[2019-12-16 13:42] kuhnroyal opened #8 "Add fullscreenDialog to @CustomRoute"
`fullscreenDialog` is only available in `@MaterialRoute` and `@CupertinoRoute` but should also be supported by a custom route with `PageRouteBuilder`.

[2019-12-20 14:07] kuhnroyal opened #9 "Prefix route constants in generated router switch statements with router class"
I just had a conflict with a route named `settings`. This conflicts in the generated router class with `RouteSettings settings`.

This can simply be fixed by always prepending the router class to all constant expressions:
[code]

[2019-12-20 14:12] kuhnroyal opened #10 "Remove @InitialRoute or make it optional"
There is nothing special about the initial route compared to other routes.
It should be possible to make this a material/cupertino/custom route so that a back navigation will use the correct animation.

Currently it always is a `MaterialPageRoute` and it is required. In order to circumvent this, I always create a dummy route with `@InitialRoute()` but don't use it.

[2019-12-20 18:40] Milad-Akarie commented on #10
Hey @kuhnroyal, it is actually treated differently from the other routes.
The initial route name must be "/"  so the back button is automatically hidden, as it's considered the bottom of the stack. also the navigator will automatically call "/" on build.
You have a point regarding the back animation tho.
I can use the initial flag as a property in all of the types?
@CupertinoRoute(initial:true)
Or

[2019-12-20 18:42] Milad-Akarie commented on #9
I'll take a look at it.

[2019-12-20 18:44] Milad-Akarie commented on #8
Never saw it there before you've mentioned it lol
It should be included in the next build.
Again, Thanks for your notes.

[2019-12-26 10:53] chrisoftech opened #11 "Introduce optional re-generating of specific routes"
Thanks for this awesome package to simplify routing.
In my use case, trying to provide a bloc to my route page seem impossible since the route file is auto regenerated on build_runner watch  thus clearing my changes made to the route.gr.dart file. My suggestion would be to annotate a specific route with @noAutoGenerate or something related to disable the route from re-generating.

thanks.

[2020-01-06 16:21] Milad-Akarie commented on #11
Thanks for your efforts.
Fixed in v0.2.1 with AutoRouteWrapper
see https://pub.dev/packages/auto_route#handling-wrapped-routes

[2020-01-06 16:21] #11 closed

[2020-01-06 16:22] Milad-Akarie commented on #10
Hey @kuhnroyal  checkout version 0.2.1, you can now use any type of routes as an initial route => @CupertinotRoute(initial: true)

[2020-01-06 16:22] #10 closed

[2020-01-06 16:23] Milad-Akarie commented on #8
done in version 0.2.1.

[2020-01-06 16:23] #8 closed

[2020-01-06 16:23] Milad-Akarie commented on #9
done in version 0.2.1.

[2020-01-06 16:23] #9 closed

[2020-01-08 10:45] ResoDev commented on #5
I'm using the latest version of the package on a clean project and this constructor
[code]

generated an Arguments class without @required annotations and the `hasInvalidArgs` method doesn't get `isRequired: true` passed into it.

[code]

[2020-01-08 11:31] Milad-Akarie commented on #5
@ResoDev My bad! I used the wrong deprecated property replacement.
I just uploaded the fix in version auto_route_generator 0.2.1+2.
Thanks for reporting.

[2020-01-08 12:14] ResoDev opened #12 "CustomRoute - transitions are not generated"
When I annotate a field with `@CustomRoute`:
[code]

I would expect this in the generated file:
[code]

Instead, `transitionsBuilder` and `transitionDuration` aren't passed in as arguments to the `PageRouteBuilder`.

[2020-01-08 12:43] Milad-Akarie commented on #12
That's what happens when you don't dedicate some time to write your tests lol
Just pushed the fix auto_route_generator 0.2.1+3.

[2020-01-08 12:43] #12 closed

[2020-01-12 13:56] Reprevise opened #13 "Being able to list all routes"
I have a drawer and I'm navigating to the pages by index. It would be great if in the generated class there was a list of all the routes so that I can just say for example `Router.routes[index]`. I know that I could just maintain a list of all the routes myself but it would be cumbersome to maintain it over time and if I, say, add new routes and forget to add it to said list, my code would break.

[2020-01-13 08:56] rebaz94 opened #14 "How to customize route name?"
Thanks for this awesome package.
Is there is anyway to customize route name instead of default variable name?

[2020-01-13 09:32] Milad-Akarie commented on #13
Hey @Reprevise
I might add it as an optional config in the next build.

[2020-01-13 09:34] Milad-Akarie commented on #14
Hey @rebaz94. I'm not sure I understand your question.
You can actually name your route anything you want.
HomeScreen myWhateverHomeScreenRouteName;

[2020-01-13 09:37] kuhnroyal commented on #14
I also think there should be an optional way to name routes via the annotations.

[code]

[2020-01-13 10:00] Milad-Akarie commented on #14
Hey @kuhnroyal, can you explain where is that useful?
I'm generally aiming for less boilerplate code.
I'm planning to add a global optional prefix/suffix, would that satisfy what you have in mind?

[2020-01-13 10:43] kuhnroyal commented on #14
I am think about flutter web and readable URL like route names.

[2020-01-13 10:54] rebaz94 commented on #14
@Milad-Akarie Yes I know this way, but there should be an option to set custom name.
For example if I want to set route name to be ```/edit-screen``` thats not possible now because we can't do ```EditScreen edit-screen```,  and as @kuhnroyal  suggested for readability name of web routes

[2020-01-13 11:25] Milad-Akarie commented on #14
@kuhnroyal  @rebaz94 until now I didn't consider flutter web as I haven't had the chance temper with it yet. So thanks for bringing that to my attention.

so the idea I have in mind right now is to first make auto-generated route names URL-friendly (kabab cased) by default and also add an optional route name in all route annotations as @kuhnroyal  suggested.
`@MaterialRoute(name: 'my-route-name')`

[2020-01-13 12:41] xialisuper opened #15 "am I doing it wrong ?"
[INFO] Starting Build

[INFO] Updating asset graph...
[INFO] Updating asset graph completed, took 1ms

[INFO] Running build...
[INFO] Running build completed, took 7ms

[INFO] Caching finalized dependency graph...
[INFO] Caching finalized dependency graph completed, took 14ms

[INFO] Succeeded after 23ms with 0 outputs (0 actions)

and it stops here . I got noting file names like Route.dart.

[2020-01-13 12:43] Milad-Akarie commented on #15
@xialisuper  can you please show me your route declaration class.

[2020-01-13 13:01] xialisuper commented on #15
import 'package:auto_route/auto_route_annotations.dart';
import 'package:route/page_one.dart';
import 'package:route/page_two.dart';

@autoRouter
class $Route {
  PageOne pageOne;
  PageTwo pageTwo;
}

xialiqundeMacBook-Pro:route xialisuper$ flutter pub run build_runner watch --delete-conflicting-outputs
[INFO] Generating build script...
[INFO] Generating build script completed, took 364ms

[INFO]

[2020-01-13 13:04] Milad-Akarie commented on #15
replace @autorouter with @autoRouter

[2020-01-13 13:07] xialisuper commented on #15
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  auto_route:

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  auto_route_generator:

[2020-01-13 13:08] Milad-Akarie commented on #15
Everything looks fine actually
here's what you could do
- Clean the build folder by running
`flutter packages pub run build_runner clean`
- Make sure you save all of your files before running the generator
- Make sure it's
`@autoRouter not @autorouter`

[2020-01-13 13:11] xialisuper commented on #15
[SEVERE] Failed to snapshot build script .dart_tool/build/entrypoint/build.dart.
This is likely caused by a misconfigured builder definition.
[SEVERE] Unable to open file .dart_tool/build/entrypoint/build.dart.snapshot for writing snapshot
pub finished with exit code 78

[2020-01-13 13:12] xialisuper commented on #15
I just cleaned my project.
And checked for @autoRouter

[2020-01-13 13:14] xialisuper commented on #15
thank you ! finally !
thanks for your time and help !

[2020-01-13 13:14] Milad-Akarie commented on #15
That's a bit weird!
try specifying the version names
auto_route: ^0.2.1
auto_route_generator: 0.2.1+3

[2020-01-13 13:15] Milad-Akarie commented on #15
@xialisuper  You're welcome.
What was it if I may ask

[2020-01-13 13:18] xialisuper commented on #15
I thought it was caused by @autoroute .the 'R'. but it was somehow 'corrected' by github.
I checked cmd+z .It is always '@autoRouter' .

I got this :
[SEVERE] Failed to snapshot build script .dart_tool/build/entrypoint/build.dart.
This is likely caused by a misconfigured builder definition.
[SEVERE] Unable to open file .dart_tool/build/entrypoint/build.dart.snapshot for writing snapshot
pub finish

[2020-01-13 13:23] Milad-Akarie commented on #15
@xialisuper ohhh
let me know if you face any other issues.
Happy coding!

[2020-01-13 13:23] #15 closed

[2020-01-13 16:09] Reprevise commented on #13
That would be great, thank you! It would make my life much easier with that.

[2020-01-14 15:47] komarekw opened #16 "Using streams as parameter for route"
Hi,
we have an issue if we are using stream as a parameter of a route. We got this error:

`Compiler message:
lib/routes/router.gr.dart:12:8: Error: Not found: 'dart:async/stream.dart'
import 'dart:async/stream.dart';`

Is there a possibility to use streams as parameters?

Thanks,
Werner

[2020-01-14 18:28] kuhnroyal commented on #16
This sounds like something one should not do.

[2020-01-15 08:06] wwwdata commented on #16
could you explain why?

[2020-01-16 07:53] Milad-Akarie commented on #16
Hey @komarekw, it seems like the problem is in the generated import statement, I'll fix that in the next build.
 Technically you can pass any kind of objects to your routes, but I don't think you should pass listenable/subscribable objects like streams or value notifiers consider providing your listenable up your widgets tree instead then access them throughout the context anywhere in your widgets

[2020-01-16 08:19] wwwdata commented on #16
@Milad-Akarie thanks! yes, we also now worked around the problem by passing a normal value and providing all the streams via context.

[2020-01-16 10:15] kuhnroyal commented on #16
@wwwdata You will run into all kinds of pitfalls with this, unclosed sinks, potential memory leaks, streams that have already been listened to etc.
Try to always pass simple parameters (ids, names, urls etc.) and use Providers or whatever state pattern you prefer to look up your dependencies in the next route.

[2020-01-17 00:47] fringefilmsoz opened #17 "Error - compilation never finalises."
Hi Milad, first of all thanks for an awesome Plugin.

I'm having an issue with my generated routes causing some sort of flutter error. My flutter program  is never fully compiled (i.e Android Studio doesn't show the hot reload button). The UI actually works and you can navigate around.

Occurring for Android API 28 and 29.

I have no idea if this is an issue with the emulator, Flutter, Android Stu

[2020-01-17 01:03] fringefilmsoz commented on #17
Additional info: In VS Code, the same error occurs, but the UI is not displayed at all.

[2020-01-17 01:56] fringefilmsoz commented on #17
Ok, so i found your instructions on Wrappers, but this documentation may need some improvement.

Here's what I tried... but still the same results:

Main.dart
[code]

[2020-01-18 10:20] Milad-Akarie commented on #17
Hey @fringefilmsoz , I don't your generated router has anything to do with your issue.
auto_route's task is to generate your router class for you before run time it instead of you manually writing it.

I'd suggest you do a flutter clean up first.
if that doesn't work remove auto route from your pub and try a build see if it's causing it to behave they way it does.

also can  you show me your home

[2020-01-18 15:05] Milad-Akarie commented on #13
added in v0.2.2
@AutoRouter(generateRouteList: true)
Thanks for your time.

[2020-01-18 15:05] #13 closed

[2020-01-18 15:09] Milad-Akarie commented on #14
@rebaz94 @kuhnroyal
added in v0.2.2
Auto-generated route names are now url-friendly
homePage => '/home-page'

you can also pass custom names as follows
`@MaterialRoute(name: 'your-custom-path-name')`
Thanks for your time.

[2020-01-18 15:09] #14 closed

[2020-01-18 15:14] Milad-Akarie commented on #16
Importing core classes like Stream is now skipped in v0.2.2
Thanks for reporting

[2020-01-18 15:14] #16 closed

[2020-01-19 14:34] rebaz94 opened #19 "Custom callback(function) as parameter to the route failed to generate"
Hi,
There is a problem when using callback to generated route. for example if we have a class like this
[code]

the builder can not generate proper class for arguments, it failed immediately. and shows error
[code]

but using a typedef for the callback function fix the problem
[code]

[2020-01-19 14:54] Milad-Akarie commented on #19
Hey @rebaz94, What happened is that it didn't see it as a Type..I will investigate this more.
but as a preferable practice, you should use the navigator's returned value as your call back function

`final result = await Navigator.of(ctx).pushNamed('your_route_name');`
and from MyPage screen in your case
`Navigator.of(ctx).pop(id) // id will be stored in the returned result object`
you can even typ

[2020-01-19 15:56] rebaz94 commented on #19
@Milad-Akarie My use case is different I don't want to pop the screen, I have a nested navigator and a screen which I want to reuse it in different route so using a callback let me use proper route. here is an example
[code]

[2020-01-20 03:01] fringefilmsoz commented on #17
Hi,
It appears that Flutter developed some sort of issue. Even a new project wouldn't compile. Complete restart and Flutter Clean got me back on track... after a couple of hours of troubleshooting.

[2020-01-20 03:01] #17 closed

[2020-01-21 04:34] BenevidesLecontes opened #20 "Default argument value"
Hi thanks for your amazing work and lib. it is possible to have default value on routes?
My use case is, I have a wrapper class that I use for all my routes, this class has `pageType` parameter, on each route definition, I want to pass the default value for this parameter. Thanks

[2020-01-21 13:18] BenevidesLecontes commented on #20
@Milad-Akarie I solved using `wrappedRoute`. And it's working fine, but is bit verbose,  because I need to implement the abstract class in every route that I want to use my Wrapper.
I was doing something like this:

[code]

In each route I need to pass as argument the `PageType`, pageType is a enum that i created.

[2020-01-21 13:19] Milad-Akarie commented on #20
I see!
can you share the constructor of your page container

[2020-01-21 13:20] BenevidesLecontes commented on #20
[code]

[2020-01-21 13:28] Milad-Akarie commented on #20
How would you pass args to your child pages?

[2020-01-21 13:38] Milad-Akarie commented on #20
You could make your child widgets implement AutoRouterWrapper then wrap them in your PageContainer() of course then you need to pass your child widget to your wrapper widget

[code]

but looking at this I think you might need to use a NestedRouter Implementation where your PageContainer is a root widget.

[2020-01-21 14:38] BenevidesLecontes commented on #20
I did this.

[2020-01-21 14:38] BenevidesLecontes commented on #20
No, I'm taking some decisions with this parameter.

[2020-01-21 19:25] BenevidesLecontes commented on #20
@Milad-Akarie can I close this, since I already solved using another way?

[2020-01-21 19:38] Milad-Akarie commented on #20
@BenevidesLecontes sure man.
Thanks for the insights.
Might think of something to pass in static valuess

[2020-01-21 19:55] #20 closed

[2020-01-28 23:28] alhafoudh opened #21 "Use observers"
Is it possible to add observers? For example `HeroController()`?

[2020-01-29 07:44] kuhnroyal commented on #21
There is no navigator involved in this library, you can just add the observers to your `Navigator`.

[2020-01-29 08:18] Milad-Akarie commented on #21
@alhafoudh  by 'add' do you mean pass as a route parameter? because that's possible!
This has nothing to do with auto_route but if you're having troubles with your hero animation try using custom animations like fadeIn transition.

Hey, @kuhnroyal  I don't think he means observing the navigator itself.
btw I'd like your feedback on my newly published package [injectable](https://github.com/Milad-A

[2020-02-07 19:40] ravimittal16 opened #22 "NoSuchMethodError: The getter 'isInSystemLibrary' was called on null."
I am getting a build error (below), while trying to add a new route.

[code]

[code]

if I comment **DashboardDetailPage**, then everything works fine. I want to add a dynamic route argument in this class/page.

[2020-02-09 10:46] iscriptology commented on #22
Experiencing the same issue here

[2020-02-09 11:32] Milad-Akarie commented on #22
@iscriptology  @ravimittal16  Are you passing in a call back function to your route widgets?

[2020-02-09 18:45] Reprevise opened #23 "Make generated class linter-compatible"
Hi! I'm using the linting rules specified by Flutter themselves in their [repository](https://github.com/flutter/flutter/blob/master/analysis_options.yaml) and every time I go to debug my app, I have to click "Debug Anyways" because the generated router file throws an error. I ignored the file in my `analysis_options.yaml` file but the Dart linter currently has a bug where when you open ignored fi

[2020-02-11 11:55] saschaernst opened #24 "Could the generated class not use static members?"
Hey Milad,

after enjoying your injectable package, it would be really nice to also use the generated auto_route class with DI (i.e. for mocking, etc.). What about generating a non-static class? If anybody really, really wants the static variant, there is always a possibility of a singleton.

Cheers, Sascha

[2020-02-13 17:37] ravimittal16 commented on #22
No, Although I have fixed the issue but this was happening due to having a dynamic object final `dynamic itemPayload;` (parameter) dependency on the widget (route). When I updated the dynamic object to a strongly typed object, everything build successful.

[2020-02-14 17:46] Milad-Akarie commented on #24
Hey @saschaernst  sorry for the delay, I was working on injectable lately.
and Yes that's been on my mind for a while now. I started working on expending the router class and the fact that it's static is becoming a limitation.

Maybe by default I can generate a singleton version and provide an option to generate a non singleton version for those who wanna manage it's life span using a some injecto

[2020-02-14 17:49] Milad-Akarie commented on #23
@Reprevise PageRoute return types are gonna be in the next build.
so you're gonna be able to do something like
@MaterialRoute(returnType: String)
and default it to dynamic

Thanks for reporting.

[2020-02-17 11:50] singharyan015 opened #25 "Middleware"
How to write middleware to check login status for each route

[2020-02-20 20:43] ResoDev commented on #25
AuthGuards are currently being worked on for the next version.

[2020-02-21 00:17] antholeole opened #26 "AutoRouteGenerator fails to generate - "Error: NoSuchMethodError: The getter 'isInSystemLibrary' was called on null.""
Route generator fails to generate a routeGenerator.dart class. Instead, the routeGenerator.gr.dart holds the following comment:

[code]
my $RouteGenerator class looks like this:

[code]
There are no broken imports, and no errors in my $RouteGenerator class.

[2020-02-21 00:21] Milad-Akarie commented on #26
Hey @antholeole, properly one of your route classes constructor has a dynamic type...make sure you type hint all of your route constructor parameters.

[2020-02-21 01:40] antholeole commented on #26
Ah, I didn't think to look at the route widgets themselves. There was an incorrect constructor, using an invalid object. Thank you for the hint! Great library, routing has become 10x easier. Thank you for your work.

[2020-02-21 01:40] #26 closed

[2020-02-21 14:42] saschaernst commented on #24
I would argue that it is easier to create an instantiatable version and  offer a singleton on top

[2020-02-21 15:47] Milad-Akarie commented on #24
@saschaernst  Hey again,
I haven't come up with a complete idea on how that's gonna work yet.
I'm not so good when it comes creating mocks and tests in general, could you show me some code on what you have in mind?

[2020-02-21 16:00] saschaernst commented on #24
Just get rid of all the static in the generated class. If somebody needs simple access from everywhere without bothering with dependency injection, there is always the possibility to instantiate a singleton directly in the main file. That way you have high testability, you can mock the routes and you can choose how to use it

[2020-02-21 16:05] Milad-Akarie commented on #24
you mean as a global variable?

[2020-02-21 16:06] saschaernst commented on #24
yes, I wouldn't do it, but it is still better than a hardcoded static class

[2020-02-21 16:07] Milad-Akarie commented on #24
not a big fan of global vars neither, how about making the router class a singleton?

[2020-02-21 16:10] saschaernst commented on #24
Everybody not using it would carry this Router.instance baggage around. And people using it like that limit the testability of their code. It's like handing a gun to a child ;-)

[2020-02-21 16:46] Milad-Akarie commented on #24
That's a valid point, I'll see what I can do.

[2020-02-21 17:34] Milad-Akarie commented on #25
Hey @singharyan015 RouteGuards implemented in v0.3.0.

[2020-02-21 17:34] #25 closed

[2020-02-21 17:36] Milad-Akarie commented on #23
@Reprevise  You can now specify route return type in
` @MaterialRoute(returnType:String)`
and it defaults to dynamic if you don't pass anything so the linter is happy.
check out v0.3.0

[2020-02-21 17:36] #23 closed

[2020-02-21 17:37] Milad-Akarie commented on #22
fixed in v0.3.0 dynamic params will not cause the generator to crash although it's good practice to type hint all of your params.

Thanks for your efforts.

[2020-02-21 17:37] #22 closed

[2020-02-21 17:39] Milad-Akarie commented on #19
AutoRoute can handle dynamic params now in v0.3.0

[2020-02-21 17:39] #19 closed

[2020-02-21 17:41] Milad-Akarie commented on #21
closing this for lack of solid use case

[2020-02-21 17:41] #21 closed

[2020-02-21 17:58] saschaernst commented on #24
I'll post my idea later

[2020-02-21 22:05] saschaernst commented on #24
This would be my approach:

Pros:
- completely mockable, even the page names

[code]

[2020-02-22 13:18] BenevidesLecontes opened #28 "Can't use anymore push for dynamic routes"
Hi @Milad-Akarie on the newer version I can't push anymore `MaterialPageRoute` for dynamic routes.
I'm using it extensively with nested navigators. Why you introduced this breaking change? thanks.

[2020-02-22 13:27] Milad-Akarie commented on #28
Hey @BenevidesLecontes, what do you mean you can't push? What kinda error do you get?

[2020-02-22 13:46] BenevidesLecontes commented on #28
I was using `navigatorKey CurrentState`to do things like that on nested navigators
[code]
With the newer version i can't  do this anymore, because extended navigator doesn't have the `push` method, only `pushNamed`.

[2020-02-22 16:18] Milad-Akarie commented on #28
Hey @BenevidesLecontes, is there a good reason why you're pushing Routes directly instead of by name? This's not how autoRoute supposed to work.

[2020-02-23 12:06] windrunner414 commented on #6
If I remember correctly, .g.dart and all generated code is recommended to check in

[2020-02-24 09:24] ChivialK opened #30 "Compile error on v0.3.0"
[code]

[code]

[code]

[code]

This error happened after upgrading to v0.3.0
There's no compile error on the last version (v0.2.2)
Does the API has any version requirement?

[2020-02-24 09:27] Milad-Akarie commented on #30
@ChivialK Are you using flutter web?

[2020-02-24 09:36] ChivialK commented on #30
No, I am using flutter android. I downgrade the flutter to the beta channel. Now it worked.

[2020-02-24 09:40] Milad-Akarie commented on #30
Do you mean the stable channel? 0.3.0 should work fine with the latest stable flutter build.

[2020-02-24 17:29] frank06 opened #31 "How to auto redirect to login page with guards?"
In my `HomeScreen`'s `initState` I'm checking for `Router.navigator.canNavigate(Router.secureScreen)`. If true it'll redirect there, if false it'll redirect to the login page.

Is there any way this (redirecting to login if `canNavigate` is false) can be configured and done automatically for every page with a guard?

[2020-02-25 05:31] slavap opened #32 "Don't generate empty _guardedRoutes because it causes "isn't used" warning."
static const _guardedRoutes = const {};

![image](https://user-images.githubusercontent.com/4129763/75217812-fce1aa00-574c-11ea-818a-5792ce18f843.png)

[2020-02-25 08:10] graknol commented on #30
If you want to stay on the *dev* channel, then you can perform this hotfix:

In extended_navigator.dart at line 79, change the return type of pop to void:
[code]
to this
[code]

[2020-02-25 08:16] Milad-Akarie commented on #31
Hey @frank06,  yes. You're not supposed to use the canNavigate func manually,
Just let your guard do the redirecting for you like follows
[code]
You could have the guard await for the LoginRoute results and return true if user logs in successfully so you still navigate to your secure route after

[code]
Next annotate your secure routes with GuardedBy([AuthGuard]) and pass in your guards as types.

[2020-02-25 08:17] Milad-Akarie commented on #32
Hey @slavap noted.

[2020-02-25 17:30] frank06 commented on #31
Great, thanks @Milad-Akarie !

I am not able to make this work with my screen design (slightly different than yours):

In my app there are NO public screens (i.e. all screens, except `LoginScreen` should be guarded by `AuthGuard`). My users have to be logged in to see the home page.

My issue is that `canNavigate` is never called with the following setup.

Why?

[code]

[code]

[2020-02-26 08:55] Milad-Akarie commented on #31
Unfortunately, the navigator widget within the MaterialApp is the one pushing the initial route, so there's no way to intercept and guard the initial route with the current approach.

You could always have a public initial route and have it show a loading indicator or something until the real distention is decided.

then in the initial route push and replace the current route with your secureScree

[2020-02-26 18:47] frank06 commented on #31
Thanks!

I ended up calling this stateful widget `RedirectRoute`, and using it like so:

[code]

It does work fine, with a caveat.

There **can't be a route decorated with @initial**, as it seems the `home` route must be treated like `/` somewhere and that ends up in an infinite loop.

Also, since the login page communicates success/failure via `pop<bool>`, the login page always shows a back butto

[2020-02-27 03:58] #30 closed

[2020-02-27 05:52] skybur opened #33 "Customize Unknown Route Page"
Hi there, thanks for this awesome package ❤️

Is it possible to customize the page when an unknown route is pushed? Or maybe provide the unknown page ourselves? The current unknown page is kinda scary IMHO haha.

[2020-02-27 06:42] ResoDev opened #34 "3rd party imports use the "src" directory"
Hello Milad!
The same problem that happened in **injectable** mentioned in [the issue no. 12](https://github.com/Milad-Akarie/injectable/issues/12) also happens in **auto_route** with route arguments.

[code]
generates the following erroneous import
[code]

[2020-02-27 06:51] skybur opened #35 "Typedef Function generated as null"
I have this widget and I'm using `ValueChanged` from flutter
[code]
and this is the generated argument
[code]

I'm using `auto_router` version 0.3.0

[2020-02-27 08:03] Milad-Akarie commented on #33
@skybur lol, That's a good idea, I'll see what I can do.

[2020-02-27 08:05] Milad-Akarie commented on #35
@skybur I'll look into it. Are you sure it's a good idea to pass a callback func to a route though?

[2020-02-27 08:06] Milad-Akarie commented on #34
Hey, @ResoDev ya I'll just apply the same solution from injectable.

[2020-02-27 08:15] Milad-Akarie commented on #31
Hey @frank06, I don't think it's a good idea to work with widgets and named routes at the same time, why can't the initial route (The Redirect Widget) be named?
Navigator will automatically push the initial route you pass to material App which defaults to "/" if you don't pass anything. then inside of the initial route push your guarded route as a REPLACEMENT so the initial route is poped first.

[2020-02-27 08:23] skybur commented on #35
Well, one of my use case is like this

- I have Screen A with list of items loaded from network and cached.
- I click an item to navigate to Screen B which is the item detail screen.
- There I can update the item properties without popping the detail screen
- I want to refresh the Screen A's item list (some of the properties are displayed there) so I provided the callback to Screen B to call when

[2020-02-27 08:30] Milad-Akarie commented on #35
@skybur You could have a shared model/bloc between your master/details screens or if you're going for a simpler approach you could have your DetailsScreenRoute return the edited ITEM then update your list from there
[code]

[2020-02-27 09:10] skybur commented on #35
I tried using `Navigator.pop` to pass back value, but I don't quite like it, because I think it's not descriptive enough about what will be returned. I mean I need to see inside the class that calls `Navigator.pop` to know what will be returned. On the other hand if I used callback to return the value, I know what will be returned. That's just me though and maybe that's not a good practice.

Howev

[2020-02-27 09:13] Milad-Akarie commented on #35
@skybur, You can easily type your returned results

[code]
I hope this helps. and thanks for reporting the bug, I'll let you know when it's fixed.

[2020-02-27 09:17] skybur commented on #35
I'm wondering what that `returnType` is used for. So that's how I use it!
I think that improves the descriptiveness when using `Navigator.pop` since I can just see in the router class what will be returned. Thanks again!

[2020-02-27 09:39] Milad-Akarie commented on #35
@skybur You're welcome.

[2020-02-27 16:13] frank06 commented on #31
Because a widget accepts a parameter (the redirect "to" route name). Afaik this is not possible with a named route? So I would have to make a specific stateful widget just for redirecting (with a hardcoded route), and add it to the routing configuration. My intention was to make this easier and more generic.

My app doesn't show the Material back button anymore – so not a problem for me. But I thi

[2020-02-27 22:23] ozburo opened #36 "Compilation Fails v0.3.0"
Just updated to new v0.3.0 and can't build Flutter app anymore.

[code]

My Flutter version:

[code]

[2020-02-28 10:47] htueko commented on #36
**same error here**
[code]

[code]

[code]

[2020-02-28 17:02] #28 closed

[2020-02-29 05:59] karanianandkumar commented on #36
@htueko ,Did you find any solution?

[2020-02-29 10:01] htueko commented on #36
@karanianandkumar Not yet

[2020-02-29 13:26] Milad-Akarie commented on #36
Fixed in v0.3.1
Thank you all for your efforts.

[2020-02-29 13:26] #36 closed

[2020-02-29 13:26] Milad-Akarie commented on #34
Hey Reso
Fixed in v0.3.1.
Thanks for reporting.

[2020-02-29 13:26] #34 closed

[2020-02-29 13:28] Milad-Akarie commented on #33
Added in v0.3.1.
just annotate your customUnknownRoute with @unknownRoute and make sure your customUnknownRoute has a default constructor that takes in a positional String.
Thanks for your efforts.

[2020-02-29 13:28] #33 closed

[2020-02-29 13:29] Milad-Akarie commented on #32
Fixed in v0.3.1
Thanks for reporting.

[2020-02-29 13:29] #32 closed

[2020-02-29 13:30] Milad-Akarie commented on #6
@windrunner414  is it? can you please link me to a documentation or something?

[2020-02-29 13:35] windrunner414 commented on #6
@Milad-Akarie sorry I was mistaken :) already edited

[2020-02-29 13:46] Milad-Akarie commented on #6
@windrunner414 it's okay. I think it's time I closed this one anyways

[2020-02-29 13:46] #6 closed

[2020-02-29 14:14] ozburo commented on #36
Thank you for taking care of this so quickly 👍

[2020-03-03 13:46] z-dmitri opened #39 "use const and final variables when it is possible to"
it could be nice to use const and final variables in the generated files when it is possible
- for the better performance + reduce warnings
so generated file will looks like:
[code]
instead of:
[code]

[2020-03-04 07:32] Milad-Akarie commented on #39
@z-dmitri noted. Thanks for reporting

[2020-03-05 15:22] frank06 commented on #31
Thank you for your help @Milad-Akarie

[2020-03-05 15:22] #31 closed

[2020-03-09 11:14] Milad-Akarie commented on #31
Hey, @frank06  what did you end up doing?

[2020-03-09 13:06] frank06 commented on #31
I ended up doing this, works great so far!

[code]

[2020-03-09 13:20] Milad-Akarie commented on #31
How does the RedirectTo Widget look like?

[2020-03-09 13:21] frank06 commented on #31
[code]

[2020-03-09 13:43] Milad-Akarie commented on #31
I believe that the navigator will still automatically navigate to '/' even if you specify a home widget. This's will cause your dashboard to be called twice! right?

[2020-03-09 14:10] frank06 commented on #31
I just put a breakpoint on `DashboardScreen#build` and it stops only once

[2020-03-19 05:01] jerryzhoujw opened #40 "Can't run the `/example` : auto_route_generator from path is forbidden"
` flutter packages pub run build_runner build `

`pub get`

Because every version of auto_route_generator from path depends on auto_route from hosted and
  example depends on auto_route from path, auto_route_generator from path is forbidden.
So, because example depends on auto_route_generator from path, version solving failed.

[2020-03-19 08:07] Milad-Akarie commented on #40
Hey, @jerryzhoujw can you please show me your pubspec file?

[2020-03-21 14:39] Milad-Akarie commented on #39
@z-dmitri  done in v0.4.0
BTW There are some breaking changes!

[2020-03-21 14:39] #39 closed

[2020-03-21 14:43] Milad-Akarie commented on #24
Hey @saschaernst  check out v0.4.0 and share your thoughts please.
Thanks for your efforts.

[2020-03-21 14:43] #24 closed

[2020-03-21 18:15] Reprevise opened #43 "isInitialRoute not defined for RouteSettings"
I'm compiling my application for the web and I get the following error:

[code]

I've rebuild the `router.gr.dart` file and still the issue persists.

[2020-03-21 23:32] bounty1342 opened #44 "Issue with remaining handmade arguments"
You got my star on a very nice package there 👍.

Since I move from my handmade routing to auto_route, I encounter a bug or at least something to specify in the documentation.

If you have you personal route argument before the class, the generator will not match the class but rather the first class. So if you put the class argument first, it will generate a bad file.

[code]

Should at least menti

[2020-03-21 23:34] #44 closed

[2020-03-21 23:35] bounty1342 commented on #44
My bad, put the arguments has a class...

[2020-03-22 01:17] bounty1342 opened #45 "Question : How to use with navkey ?"
Hi,

I have trouble using this package with navKey. Do you have an example by any chance ?

I have declared :
`static final navKey = new GlobalKey<ExtendedNavigatorState<Router>>();`
but when I access  `navKey.currentState`is always null.

Regards,

[2020-03-22 01:34] bounty1342 commented on #45
You should add it to the documentation, I was still adding it to the MaterialApp.
[code]

@ResoCoder : might be good to update the tutorial a bit, most is still valid.

[2020-03-22 08:30] Milad-Akarie commented on #45
Hey, @bounty1342 I'm glad you're liking the package.
passing your own key isn't required anymore, you can easily obtain the current navigation state  without context using
`ExtendedNavigatore.ofRouter<Router>()`
It was mentioned in the updated README file

[2020-03-22 09:27] Milad-Akarie commented on #43
Hey, @Reprevise  fixed in v0.4.1
Thanks for reporting

[2020-03-22 09:27] #43 closed

[2020-03-22 22:06] bounty1342 commented on #45
My service was using navKey, but I changed it.

Only remaining issue is with onWillPop that is not triggered anymore, any recommendation ?

[code]

[code]

[2020-03-23 08:12] Milad-Akarie commented on #45
@bounty1342  can I see your MaterialApp setup?
also may I ask, why do you need a navigation service if you're gonna Provide it with context?
why not use ExtendedNavigator.of(context)? the ExtendedNavigator state is already provided in the context

[2020-03-23 11:27] dannnoon opened #47 "Android system back button closes whole app"
Hello,

After upgrading library version from 0.2.2 to the newest one (0.4.1) I encountered an issue with Android system back button. Whenever I press it, even if I am not on initial route, application is being closed. If I call pop() method on my router, then it works in expected way. When I swipe back on iPhone, it also works.

I tried to go around it and add WillPopScope widget to my main page,

[2020-03-23 14:00] bounty1342 commented on #45
@Milad-Akarie,

My MaterialApp setup below :
[code]

I use a MVVM pattern, the services know nothing about the context. This is to enforce between the logic and the UI.

issue #47, seems to be related.

Regards,

[2020-03-23 16:02] Milad-Akarie commented on #47
Hey, @dannnoon
Fixed in auto_route: 0.4.2
Thanks for reporting.

[2020-03-23 16:02] #47 closed

[2020-03-23 16:02] Milad-Akarie commented on #45
@bounty1342  should be fixed in auto_route: 0.4.2, check it out.

[2020-03-23 16:08] #45 closed

[2020-03-24 21:09] fedotxxl opened #49 "ExtendedNavigator.of(context) do not allows to call pushSecondScreen method"
Hello. I'm checking description:

[code]

`ExtendedNavigator.ofRouter<Router>()` works as expected - I can call `pushSecondScreen` method. `ExtendedNavigator.of(context)` doesn't have any page-specific methods. Is the description correct?

[2020-03-24 22:22] Milad-Akarie commented on #49
@fedotxxl both methods obtain the same class state, so ya they both should have page-specific push methods if you set the generation flag to true
`@MaterialAutoRouter(generateNavigationHelperExtension: true)`

[2020-03-24 22:27] fedotxxl commented on #49
Yes, you are right... it works now...

[2020-03-24 22:27] #49 closed

[2020-03-24 23:13] fedotxxl opened #50 "Why Arguments class are not generated for single parameter Widget?"
I'm new to `auto_route` and was looking for about 5 minutes for generated `Arguments` class with no success. After that I found that:

Even though a single argument Widget is pretty simple it still makes sense to use `Arguments` class instead of passing argument as is.

Please remove this limitation and generate `Arguments` class for routes with single param

[2020-03-25 09:59] Milad-Akarie commented on #50
Hey @fedotxxl is there a good reason why we should do that? I'm not sure if it's helpful

[2020-03-25 10:06] fedotxxl commented on #50
Why did you choose only after one more param you generate Arguments class? May be 2 params is also simple? It's unexpected that for X params system works one way and for Y - another.

You know this behavior and you are ok with it. But I preferer always use Arguments class because:
- it makes code clear
- I wanna use the same approach everywhere and don't think "Does my page have single param or 2+

[2020-03-25 10:13] fedotxxl commented on #50
I mean when you know something you don't see any problems with it... After 2-5 apps I will also just use it without any worries... But now (when I'm new to API) it looks strange for me. If it's technical restriction than I'm totally ok with the current version. If it's just to remove `if (paramsCount > 1)` - I don't understand why not just to remove it

[2020-03-25 10:20] Milad-Akarie commented on #50
as I said for the sake of simplicity, But I guess you have a valid point.

[2020-03-25 15:47] ganeshrvel opened #51 "Is there a way to render a common widget across the App?"
Hi,

With respect to your latest changes to auto_route, I am looking for a way to render a widget that can be accessible across the app. Earlier I used to something like this:

[code]

1) But now since the builder is used for Navigation I am unable to mount `AlertsScreen` widget into the app. Is there a way to mount a common widget which can be accessible across the app?

2) Is it possible to get

[2020-04-03 01:04] jerryzhoujw commented on #40
hi @Milad-Akarie , I just run it in your `example/` folder.

[2020-04-04 02:55] matthewfx opened #52 "ExtendedNavigator error"
Hi,

When I try to use
[code]

I'm getting errors:
`The argument type 'ExtendedNavigator' can't be assigned to the parameter type 'Widget Function(BuildContext, Widget)'.dart(argument_type_not_assignable)
The type 'ExtendedNavigator' is declared with 0 type parameters, but 1 type arguments were given.
Try adjusting the number of type arguments.dart(new_with_invalid_type_parameters)`

on the other

[2020-04-04 03:22] edwardaux commented on #52
The compiler error message isn't very helpful here. The fix should be just adding this at the top of your file:
[code]

[2020-04-04 03:25] edwardaux commented on #50
FWIW, I also stumbled over this recently. It took me ages to figure out why it wasn't working... it was only when I started poking around in the generated code that I realised what was going on.

[2020-04-04 03:34] edwardaux opened #53 "Question: best approach to protect screens behind auth"
[This is more of a question than an issue]

Like a lot of apps, I've got a situation where a user can use a lot of the app without being logged in, but it gets to a point where they need to be logged in to continue to the next screen.

Imagine the user is on screen `/a` and tries to navigate to screen `/b`. If they're already logged in, pushing to `/b` should go straight there, otherwise, they get

[2020-04-04 04:26] matthewfx commented on #52
The import has been there...

[2020-04-04 09:57] Milad-Akarie commented on #53
Hey @edwardaux You can go about achieving that using route guards.
Here are two approaches you could use
1- Let your loginScreen route return true if users successfully login.
then inside of your AuthGuard check if user is already logged in, continue to route /b otherwise navigate to the login page, your login page should return true if the auth process is a success.
[code]
inside of your login pa

[2020-04-04 10:16] Milad-Akarie commented on #52
Hey @matthewfx it looks like your'e using an old version of auto_route
latest versions are
auto_route: 0.4.2
auto_route_generator: 0.4.0

[2020-04-04 10:22] matthewfx commented on #52
That's probably it. I added it to my app last week though. Pretty impressive pace of upgrades! Thanks! Please tell me where I should add the nested navigator?  Should it also be passed at the top level of the widget tree (MaterialApp)?

[2020-04-04 10:23] Milad-Akarie commented on #51
Hey @ganeshrvel for some reason I didn't get notified of this issue..I stumbled upon it just now
the widget in this line is actually a native navigator widget
` builder: (BuildContext context, Widget widget) {`
so instead of returning it return an ExtendedNavgiator widget

[code]

[2020-04-04 10:23] #51 closed

[2020-04-04 11:29] Milad-Akarie commented on #52
A navigator is just another widget.

[code]
You're gonna need a Nested Router of course

[2020-04-04 20:35] mario202k opened #54 "set intial to false"
I want to use the home parameter of MaterialApp because my Initial route has parameter.

Or how to set this API in a such architecture : https://github.com/bizz84/starter_architecture_flutter_firebase

![](https://github.com/bizz84/starter_architecture_flutter_firebase/blob/master/media/time-tracker-widget-tree.png)

[2020-04-04 21:53] edwardaux commented on #53
Ah, thank you so much. I didn't realise I could also change the destination of the route inside the guard... perfect 💯

[2020-04-04 21:53] #53 closed

[2020-04-04 22:49] edwardaux commented on #53
In case anyone is playing along at home, I tried both approaches above.

I initially used the second one because my LoginScreen already had some logic in to do the redirect. However, there are two downsides to this approach:

1. It relies on LoginScreen to call navigator.pushNamed() - which is problematic if the original caller wanted to use pushReplacementNamed() to transition
2. It pushes redire

[2020-04-05 03:48] matthewfx commented on #52
Awesome man! Thank you! I have one more question though. ;)  Considering the code above how one passes arguments to the initial route?

[2020-04-05 15:37] bizz84 commented on #54
If you want to use the `home` parameter, then just use it:
[code]
Makes sense?

[2020-04-05 16:27] mario202k commented on #54
Router.onGenerateRoute is deprecated.
[code]
Where to initialize the first page? home is not take account.

[2020-04-06 05:11] mario202k commented on #54
I bypass this issue by making userSnapshot static. The initial screen must not have any parameter.

[2020-04-06 08:30] matthewfx opened #55 "Accessing the navigator stack"
Your library generates classes encapsulating arguments for a page which is great. My question is how could I access a stack so that when I do ```pop``` I can get what arguments have been passed to a previous page. In my case, all pages are of the same type and the only difference is something like a view model which one of argument injected into them.

[2020-04-06 08:36] Milad-Akarie commented on #54
@mario202k Adding an intialRouteArgs sounds like a decent idea, Especially for nested navigators.  I'll be working on that.

[2020-04-06 08:46] Milad-Akarie commented on #55
ExtendedNavigator is just an extension to the native Navigator and as far as I know it doesn't expose a public stack so that would be a little hard to pull.
but let me get this straight.. you need to access the args of  /b when you pop to /a?

[2020-04-06 08:49] matthewfx commented on #55
It's a nested navigator and the context in which it is nested needs to be updated based on what page it displays. Anyways I just thought it would be possible but if not I will implement a stack data structure and add it to my bloc. Thanks! Could you please look at my previous question re passing parameters to the initial route?

[2020-04-06 09:06] Milad-Akarie commented on #55
@matthewfx I'm still not sure what you're trying achieve but I think using a NavigatorObserver can help

[code]
You could even create your own stack and add/remove routes using didPush/didPop callbacks

[2020-04-06 09:09] Milad-Akarie commented on #55
@matthewfx Regarding initial route args, that's a missing feature and I will be working on that.

[2020-04-06 09:10] matthewfx commented on #55
OK, that might be helpful! Sorry for bothering you. My day job is an iOS developer. Flutter is my hobby but I need to build a pro bono app quickly in it (covid-19 related) related and don't have time to study docs properly... :( Thank you very much!

[2020-04-06 09:10] #55 closed

[2020-04-06 09:11] #52 closed

[2020-04-06 12:02] KhatibFX opened #56 "Using ExtendedNavigator to navigate without context causes root navigator to be null when enabling Widget Select Mode in Flutter Inspector"
Exception:

[code]

Minimal repro:

[code]

[code]

Pubspec.yaml:

[code]

Flutter doctor:

[code]

Thanks a lot for you work on this magical library by the way!

[2020-04-07 11:33] Thioby opened #58 "Pressing back button pop nested navigator"
Hi,

Pressing system back button inside nested navigator cause navigate to main navigator instead of  returning ot prevoius page in nested navigator.

**Main Navigator -> Main Page -> Nested Navigator -> Page A -> Page B**

Pressing back button on Page B should return to Page A

[2020-04-08 02:57] saschaernst opened #59 "What is the point of these ...Argument classes since 0.4.3?"
Hey,

since introduction of these argument classes, it is really hard to just call different routes by name receiving the same type of arguments. Is there any reason for this change to the previous version? It is still only a runtime check.

Cheers, Sascha

[2020-04-08 10:20] Milad-Akarie commented on #59
Hey @saschaernst we've discussed this
 here https://github.com/Milad-Akarie/auto_route_library/issues/50

[2020-04-08 10:56] saschaernst commented on #59
I am not convinced. Right now I am generating my app structure tree from a config, so at runtime I have a couple of different pages all expecting the same argument. When using the navigator I only know the target id from my config and some payload they all agree on. Unfortunately now I have to know the exact type of Argument class when making the push call. Is there any way that I can define my ow

[2020-04-08 11:03] Milad-Akarie commented on #59
@saschaernst Just go back to the previous version for now I'll make the whole thing optional..how does that sound?

[2020-04-08 11:10] saschaernst commented on #59
sounds good to me, thanks!

[2020-04-08 11:28] matthewfx opened #60 "Jerky transition animation iOS"
Hi,

Sorry for bothering you again ;) Up to this point I worked on the simulator and didn't care that the transition animation looked bad. Today I started to use real devices iPhone 5s, iPhone X and iPhone Xs Max. It looks bad on all of them. Instead of being smooth, it is very jerky. In addition to it when displaying the system alert it freezes the transition in the middle (a picture attached). I

[2020-04-09 05:21] matthewfx commented on #60
I made it better. I think it was caused by the fact that my nested navigator has no background and in screens with the keyboard, I made it better by delaying transitions after the keyboard is hidden. Sorry ;)

[2020-04-09 05:21] #60 closed

[2020-04-11 05:40] atoumbre opened #61 "Argument to initial route"
Hello

How to pass arguments to the initial route?

BR,

[2020-04-11 09:08] bizz84 opened #62 "How to use with CupertinoTabView?"
I was using version `0.2.2` of this package, with the following setup
[code]
However, in recent versions, the generated`CupertinoTabViewRouter.onGenerateRoute` is no longer a static method.

So, how should I use the new API?
I've seen that the documentation shows some example code with `MaterialApps(builder: ExtendedNavigator<Router>(router: Router()))`.

But this doesn't work in my case as I have

[2020-04-11 12:19] Milad-Akarie commented on #61
Hey @atoumbre
Since ExtendedNavigator navigates to the initial route automatically you need to pass them to it
`ExtendedNavigatore<Router>(router:router,  initialRouteArgs: YOURARGS)`

[2020-04-11 15:25] atoumbre commented on #61
Nice, but works from 0.4.3, right?

[2020-04-11 15:25] #61 closed

[2020-04-11 21:11] Milad-Akarie commented on #59
Hey Sasch, as promised, generating args holder for single parameter routes is now optional
just set generateArgsHolderForSingleParameterRoutes to false in MaterialAutoRouter()
it's true by default.
auto_route 0.4.4
auto_route_generator 0.4.4
enjoy!

[2020-04-11 21:11] #59 closed

[2020-04-11 21:12] Milad-Akarie commented on #58
Hey, @Thioby
Fixed in
auto_route 0.4.4
auto_route_generator 0.4.4
Thanks for reporting.

[2020-04-11 21:12] #58 closed

[2020-04-11 22:52] Milad-Akarie commented on #62
Hey @bizz first for all, thanks for all the great tuts! keep them coming!
please help me understand what's going on here.
CupertinoTabView is just a wrapper for Navigator, is every tab you in your App a nested navigator?
if yes, are you trying to use the same router for all the nested navigators you have?

[2020-04-13 16:53] Thioby commented on #58
@Milad-Akarie
Thank you! 👍

[2020-04-13 16:58] jamesdixon opened #64 "error: "Directives must appear before any declarations" when using nested navigator"
Hi there,

First, thanks for the awesome package!

I'm trying to use a nested navigator and I keep getting the following error:

`Directives must appear before any declarations`

When looking at `router.gr.dart`, I'm seeing that imports are being duplicated for each declared router.

Here's my `router.dart` file:

[code]
And here's the output in `router.gr.dart`:

[code]

I'm using version `0.4.3`

[2020-04-13 17:04] Thioby commented on #64
@jamesdixon
Split it into 3 separate files instead of one file with 3 route classes.

[2020-04-13 17:08] jamesdixon commented on #64
@Thioby of course... 🤦‍♂️

Thanks!

[2020-04-13 17:08] #64 closed

[2020-04-13 17:34] jamesdixon commented on #64
@Thioby related/unrelated...do you know if generating extension methods works with nested navigators?

[2020-04-13 17:40] jamesdixon commented on #64
@Thioby nevermind, that does work.

[2020-04-13 17:45] Milad-Akarie commented on #64
It should work. Please keep in mind that autocomplete can be a little jerky
when working with extensions

On Mon, Apr 13, 2020, 7:40 PM James Dixon <notifications@github.com> wrote:

[2020-04-13 18:34] jamesdixon commented on #64
@Milad-Akarie thanks! I just had to use this style as things are nested: `ExtendedNavigator.ofRouter<StaffRouter>()`.

[2020-04-13 20:06] bizz84 commented on #62
@Milad-Akarie thank you.
Yes, my goal is to have nested navigators.
For context, this is an implementation of my code that doesn't use `auto_route`:

[code]
Would it make sense for me to have three `ExtendedNavigator<Router>(router: Router()))`, instead of the current `widgetBuilders`?

[2020-04-13 21:06] jamesdixon opened #65 "specify type on a route?"
Hi again,

Is there a way to specify a type on a specific route?

For example...

[code]

[code]

[code]

[2020-04-14 09:39] Milad-Akarie commented on #62
@bizz84 Of course it would, like I said CupertinoTabView is just a wrapper for Navigator.

This's how I image your setup to be

[code]
also If I understand your code correctly, the builder in CupertinoTabView is just responsible for building you initial page which simply could be your initial route. so you don't actually need the builder

[2020-04-14 20:37] bizz84 commented on #62
@Milad-Akarie that makes sense. Thanks for the explanation :)

[2020-04-14 20:37] #62 closed

[2020-04-15 21:14] edwardaux opened #66 "[Question] How best to support BottomNavigationBar?"
I'm just kicking around ideas on the best way to support navigating wtith a `BottomNavigationBar`.

I'm wondering whether it is better to have one root `ExtendedNavigator` that contains the navigation bar, or whether each tab should have its own?

There's probably no "right" answer, but I'm interested to know if there's a particular pattern you'd start with?

BTW, thanks for a great library. I lov

[2020-04-15 22:38] bounty1342 opened #67 "@unknownRoute generate error"
Hi,
using 'unknownRoute' annotation like this :

[code]

generate this error :

[code]

Regards

[2020-04-15 22:41] edwardaux opened #68 "Generate platform-specific routes"
I see that we can pass a specific annotation to generate either an explicit `MaterialAutoRouter` or a `CupertinoAutoRouter`, however, what would be nice is if there was an additional annotation called `PlatformSpecificAutoRouter` which would create a `CupertinoPageRoute` or a `MaterialPageRoute` at runtime depending on whether we're running on iOS or Android.

I'm happy to create a PR, but wanted

[2020-04-17 13:38] Milad-Akarie commented on #68
Hey @edwardaux I though about it when I first started working on the lib but, I later figured out that MaterialRoute is actually an adaptive route, meaning it behaves like a CupertinoRoute on IOS platform and I'm guessing the same goes for all other supposed platforms.
do you still think there's a need for an adaptive router?

[2020-04-17 13:44] Milad-Akarie commented on #66
Hey again @edwardaux  I'd go with your first approach, have a root navigator that holds your tabs page then each tab should have it's own. this way you can easily push routes and show your dialogs above your tabs page
unless you're pretty sure that you don't need a root navigator

[2020-04-17 13:45] Milad-Akarie commented on #67
@bounty1342 I'll look into it

[2020-04-17 13:59] Milad-Akarie commented on #67
@bounty1342  you should get an exception that says unknownRoute page constructor should have one String parameter but something went wrong..
anyways it should work if you add the String parameter
[code]

[2020-04-17 15:41] Milad-Akarie commented on #67
fixed in auto_route_generator: 0.4.5
Thanks for reporting

[2020-04-17 15:41] #67 closed

[2020-04-17 15:45] Milad-Akarie commented on #65
Hey @jamesdixon This is a little difficult to active  since there's no way to pass a type parameter  to onGenerateFunction.
also
The Type parameter in pushNamed is for route result type
`ExtendedNavigator.of(context).pushNamed<T is Result type>(Routes.userProfileScreen);`

[2020-04-17 18:52] ozburo opened #70 "Need to namespace `Routes` for each Router"
I like to use multiple routers and push routes by name, something like:

[code]

However since all routers use `Routes` to define their routes we get a name conflict when we import more than one router.

I tried to live w/ this and use `generateNavigationHelperExtension` so I didn't need to use Routes directly but this falls short when I need something more complex than `pushNamed`, i.e. `pushName

[2020-04-17 19:22] Milad-Akarie commented on #70
Hey, @ozburo I was ignoring this until something said something lol
Do you have any suggestion other than MyRouterRoutes? because that's a bit long. "RouterRoutes" sounds weird.
How about passing the routes class names to the AutoRouter?
something like
`MaterialAutoRouter(routesClassName:"NestedRoutes")`

for now you could use an import alias to import your nested routers
[code]
then
`nestedRouter

[2020-04-17 19:48] ozburo commented on #70
I'm glad I'm the one to bring this to your attention 🥰

Yes, you're right that *is* a bit long. I was prepared to live with that since we're using code-generation...

...however, this is a good idea 👍  For those that want nicer class names we can just assign it!

I guess if we're going to do that we could just leave the default as `Routes` as it is now, that way
it wouldn't bug others that just us

[2020-04-17 22:32] edwardaux commented on #68
hi @Milad-Akarie ... well, that's what the documentation says ... in reality, though, it isn't what they actually do.. ha ha 😂

A video would be better, but hopefully these couple of screenshots will help illustrate the difference. Here's what it looks like on iOS:

Initial screen | Cupertino Route | Material Route
:---------:|:-----------:|:-----------:
This is what the original screen looks like

[2020-04-17 22:48] edwardaux commented on #66
he he... as it turns out, I don't (currently) need a root navigator, so I'm currently just creating a new `ExtendedNavigator` for each of my tabs.

It is working really well ... with one small wrinkle.  Because of the way that Flutter route names work, if they contain a leading slash, then Flutter assumes they are a "deeplink" and tries to make sure that there are screens pushed for all the interm

[2020-04-18 18:24] Milad-Akarie commented on #68
@edwardaux Thanks a good observation! I haven't noticed that before, Thanks for your hard work.. I'll be working on that.

[2020-04-18 18:27] Milad-Akarie commented on #66
@edwardaux  sounds good. I'll look into it.

[2020-04-18 20:39] edwardaux opened #71 "[Feature request] Add option to allow generation of route names without leading slash"
As mentioned in https://github.com/Milad-Akarie/auto_route_library/issues/66#issuecomment-615496648, it would be good if we could get the generated route names to optionally exclude the leading slash.

Perhaps something like: `MaterialAutoRouter(leadingSlashes: false)`

[2020-04-18 20:39] #66 closed

[2020-04-19 19:21] Milad-Akarie commented on #71
@edwardaux  The initial route must be '/' other wise the back button will show.

[2020-04-19 20:34] edwardaux commented on #71
yeah, that makes sense. I'd imagine that that flag would be ignored if the route is tagged using the `@initial` annotation.

eg. something like:
[code]

[2020-04-21 21:39] sharpsan opened #72 "@initial route ignores transition"
Routes marked with the annotation `@initial` ignore `transitionsBuilder`.

Additionally, adding `transitionBuilder` to `@CustomRoute` and defining a transition there specifically for the initial route does not enforce a transition, either.

[code]

Generated code:
[code]

[2020-04-21 22:51] sharpsan opened #73 "Use outer router from nested router"
Pushing a new route from an inner route using an outer router causes the nested router to become null after pop.

Nested router:
[code]

Outer Router:
[code]

`ExtendedNavigator.ofRouter<Router>().pushNamed('routeName')` pushes a route using the external router, but then after popping back to inner I get this error when once again trying to use `TabRouter`:
[code]

[2020-04-22 00:30] TarekkMA opened #74 "AutoRoute doesn't import from 'dart.io'"
I have a flutter widget which depend on passing ``List<File>`` but in the generated code ``routes.gr.dart`` I get an error because ``dart.io`` wasn't imported.

[2020-04-22 00:30] TarekkMA opened #75 "AutoRoute doesn't import from dart.io'"

[2020-04-22 00:33] #75 closed

[2020-04-22 00:34] TarekkMA commented on #75
sorry, it was posted by mistake twice.
#74 the original one.

[2020-04-23 10:48] TarekkMA opened #77 "Improve helper functions"
I really like the helper functions feature since it can encourage type safety. And I have a few features that I think can make helper functions more useful.

- Add ``@required`` annotation for required types, the arguments have the required annotations correctly but the helper functions lack it.
- Add the option to define a return type for routes. right now all helper functions have ``Future<dynam

[2020-04-23 16:25] #74 closed

[2020-04-23 16:29] Milad-Akarie commented on #77
Hey @TarekkMA Thanks for your hard work!
I'll be working on the @required part.
as for the resultType it's already there under returnType.

I'm not sure about generating all 3 push methods for every route. maybe if we can somehow make them optionals? as in the user choses what extension methods to generate for what route?

[2020-04-23 17:47] TarekkMA commented on #77
Yeah, I see there is a ``returnType`` field. The README doesn't mention it. and we can add an option on ``@AutoRouter`` to generate them for all routes or by route basis with the ``@AutoRoute`` annotation.

I don't know how it should look like. but this form comes to my mind.
[code]

[2020-04-23 18:13] igoriuz opened #78 "Custom naming for initial Routes"
I would prefer to have more flexibility regarding nested named root routes. Therefore it would be awesome, if i could name the root route different than "/" when using sub navigators so i dont get routes like `main-route//`.

Neither `@initial` nor `@CustomRoute` allows to be named **and** initial.

And btw: Thanks for this package. Great work ;)

[2020-04-24 12:34] mxkacsa commented on #68
Yes it's a very important feature.
I think this is the best routing solution for flutter, but without this feature I don't know how can I use this library in my cross platform application.

[2020-04-24 19:23] Milad-Akarie commented on #78
Hey @igoriuz try not annotating the route with @ initial then manually set the initialRoute in your ExtendedNavigator.
I'm working on making leading slashes optional for non initial routes.

[2020-04-24 20:57] Milad-Akarie commented on #72
@sharpsan I thought initial route transition isn't needed. it will be included in the next build.

[2020-04-24 23:05] sharpsan commented on #72
It may not be needed for every use case, so perhaps it should be a boolean option.

[2020-04-25 07:59] TshineZheng commented on #40
same here

[2020-04-25 08:48] moti0375 opened #79 "wrappedRoute BuildContext"
Hi,

I have a question about the wrappedRoute option

When using wrappedRoute, Is there a way to add option to forward the buildContext so it will be available for wrapping the route?
Something like this:

    `abstract class AutoRouteWrapper {

      Widget wrappedRoute(BuildContext context);

     }`

Then in the widget:

    `
     @override
     Widget wrappedRoute(BuildContext context) {

[2020-04-25 19:08] Milad-Akarie commented on #79
Hey Moti, you can't use the BlocProvider's context?
I'll include it anyways.

[2020-04-25 19:41] moti0375 commented on #79
Hi Milad,

Thanks for your response!

I've tried this and and seems to be null or not higher enough in my case,
you may try to make some small example.

Nevertheless, even if the provider context not null, it might be different
than the context forward by the Navigator which is much higher in the
widget tree.
Therefore it is better to use it for accessing services higher in the tree
such as Locali

[2020-04-26 10:20] Milad-Akarie commented on #79
@moti0375 it makes sense to provide the route's context to the wrappedRoute anyways.
It will be included in the next build.
Thanks for your report.

[2020-04-26 11:32] moti0375 commented on #79
Hi Milad,

Thanks for your support and I'am glad you agree.

Regards,
Moti.

On Sun, Apr 26, 2020 at 1:21 PM Milad Alakarie <notifications@github.com>
wrote:

[2020-04-26 21:05] Milad-Akarie commented on #79
Hey @moti0375  implemented in
auto_route: 0.4.5
auto_route_generator: 0.4.7

[2020-04-26 21:05] #79 closed

[2020-04-26 21:06] Milad-Akarie commented on #73
@sharpsan it was fixed in
auto_route: 0.4.5
auto_route_generator: 0.4.7
Check it out!
Thanks for reporting

[2020-04-26 21:06] #73 closed

[2020-04-26 21:06] Milad-Akarie commented on #72
@sharpsan
Fixed in
auto_route: 0.4.5
auto_route_generator: 0.4.7
Thanks for reporting

[2020-04-26 21:06] #72 closed

[2020-04-26 21:07] Milad-Akarie commented on #70
Hey @ozburo! Implemented in
auto_route: 0.4.5
auto_route_generator: 0.4.7
Check it out!

[2020-04-26 21:07] #70 closed

[2020-04-26 21:08] Milad-Akarie commented on #71
Hey @edwardaux added in
auto_route: 0.4.5
auto_route_generator: 0.4.7
`AutoRouter(useLeadingSlashes: false)`
Thanks for your hard work

[2020-04-26 21:08] #71 closed

[2020-04-26 21:09] Milad-Akarie commented on #68
@edwardaux  @mxkacsa  Check out AdaptiveAutoRouter and AdaptiveRoute in
auto_route: 0.4.5
auto_route_generator: 0.4.7
Thanks for your patience!

[2020-04-26 21:09] #68 closed

[2020-04-26 22:30] edwardaux commented on #68
Works perfectly @Milad-Akarie (including the leading slash change). Thanks so much for the quick changes (and a great library) 🎉

[2020-04-27 05:23] moti0375 commented on #79
Awesome thanks!

Regards,
Moti.

בתאריך יום ב׳, 27 באפר׳ 2020, 00:06, מאת Milad Alakarie ‏<
notifications@github.com>:

[2020-04-27 17:22] ozburo commented on #70
Perfecto! Thanks so much 👍

[2020-04-28 04:39] spike04 opened #81 "Can you also add an example on implementing Tabs inside a page with nested Navigation and also maintain state in nested Navigation"
Hi, I was trying to implement a flow in which I login to the application with Plain MaterialAutoRouter to HomePage which contains BottomNavigationBar with 3 options (Dashboard, Notification, and Settings). The first tab contains the nested navigation which I was able to implement which goes to Detail Page. I implemented AdaptiveAutoRouter for Nested Navigation inside the Dashboard Tab. Default set

[2020-04-28 07:43] moti0375 opened #82 "Unused args causes tests and code analyse to fail"
Hi,

Currently my routes doesn't use any arguments.
In the generated router.gr.dart file there is  ` final args = settings.arguments;`  in the `onGenerateRoute` method which then marked as unused variable.

This will cause CI/CD code analyse to fail.  Currently I delete it manually.

Is there a way to omit this field in case no arguments are in use?

Regards,
Moti.

[2020-04-28 08:02] moti0375 opened #83 "PageRouteBuilder ctx instead of context"
Milad Hi,

Regarding last update for the wrappedRoute with context, which looks great!
However, in the `router.gr.dart` file when it uses a `PageRouteBuilder` like this:

`PageRouteBuilder<dynamic>(
     pageBuilder: (ctx, animation, secondaryAnimation) => Page().wrappedRoute(context),
          settings: settings,
          transitionsBuilder: slideTransition,
        );`

Please notice that in t

[2020-04-28 12:26] Milad-Akarie commented on #82
@moti0375 noted. I'll look into it.

[2020-04-28 12:27] Milad-Akarie commented on #83
Hey @moti0375 I'll look into it. this should be an easy fix.
Thank for reporting.

[2020-04-28 12:40] Milad-Akarie commented on #81
Hey @spike04 Are you using a TabBarView?  it's infamous for not keeping the state of It's children.  so this has nothing to do with ExtendedNavigator.

This's how it's usually handled
Make sure your tab pages are Stateful and Implement this mixin
[code]
Hope this helps

[2020-04-28 17:47] nothinggift opened #84 "Leave transition"
Is there a way to show custom transition on a special route leave.

PageRouteBuilder seems not work.

[2020-04-28 21:06] Milad-Akarie commented on #84
@nothinggift This's a little tricky to achieve using named routes since you need to pass in the current widget to the PageRoute to apply transition.

I'll give it a shot!

[2020-04-28 21:23] Milad-Akarie commented on #83
Fixed in auto_route_generator 0.4.8

[2020-04-28 21:23] #83 closed

[2020-04-28 21:24] Milad-Akarie commented on #82
fixed in auto_route_generator 0.4.8
Thanks for reporting

[2020-04-28 21:24] #82 closed

[2020-04-30 14:43] carmas123 opened #85 "BottomSheet problem"
Hi, when I use auto_route lib I cannot use again BottomSheet because it use a standard Navigator.
Do you have any solution for that?

[2020-05-01 10:19] FilledStacks commented on #78
Any update on this. The leading slash is causing the initial route to always be pushed even if you set the starting route to a different route. Which is what I usually do during development.

Flutter does a deep link style navigation so having the '/' infront of the route name will always push initialRoute then actual route. When I don't mark an initial route and press back on the first route it s

[2020-05-03 04:47] pueffl opened #87 "Application doesn't start with code according to your documentation"
When I try to switch to auto_route, everything works fine but when I want to start my application, I get the following exception:

The following assertion was thrown building MaterialApp(dirty, state: _MaterialAppState#d4d9e):

If no route is provided using home, routes, onGenerateRoute, or onUnknownRoute, a non-null callback for the builder property must be provided, and the other navigator-relat

[2020-05-03 05:30] nateshmbhat opened #88 "Give optional Prefix to Router annotation"
Sometimes we wish to add a prefix like : "/myModule" to each screen that comes inside the specific module.
We need an optional prefix option to the Router annotation , so that all the generated routes inside the router come with that prefix.

Example :

[code]

So generated Routes would look like :

[code]

[2020-05-03 05:37] nateshmbhat commented on #88
this can also help to some extent in nested routing

[2020-05-03 06:17] nateshmbhat opened #89 "make onGenerateRoute method as static"
There are certain use cases where we will not be using ExtendedNavigator and would be using our own custom navigator that handles the navigation and some other business logic.

In these cases we need access to the onGenerateRoute function inside the router classes.

So please either make it `static` or give optional parameter in `Router` annotation to make it static .

[2020-05-03 12:24] nateshmbhat opened #90 "Add a getter in Router class to get all Routes"
The use case is that given a set of Router objects , I need to check if a given route String belongs to a certain router.

For this you would need to expose a method or `getter` that return all routes that are being handled by that `Router`.

If you add such a method , it would add that missing link between Router class and Route class for the user of your API.

[2020-05-03 12:54] Milad-Akarie commented on #90
Hey @nateshmbhat
Thanks for your efforts!
This might help
[code]
This will generate a list of all generated routes inside of  the "Routes" class

[2020-05-03 13:02] Milad-Akarie commented on #89
@nateshmbhat it was static at some point then after some discussions with a number of you users we decided to make it concrete class so it's test friendly.
Any ways. I was thinking of a way to make the generated Router independent of the ExtendedNavigator and that's still in progress.

What you can do for now is

[code]
But then you won't be able to use Route guards or any other extended feature.

[2020-05-03 13:04] Milad-Akarie commented on #88
@nateshmbhat That's actually a good idea.
guess we could also omit the useLeadingSlashes option for this.

[2020-05-03 13:04] nateshmbhat commented on #90
Yes I'm asking that the Router class would have a getter for the routes list.

[2020-05-03 13:06] nateshmbhat commented on #90
But make sure that you add this getter method to the RouterBase class itself since, the whole point of writing this method is to access the routes during run time.

An interface in the baseclass is needed for this :)

[2020-05-03 13:07] nateshmbhat commented on #90
I think it's a small feature and easy to implement but covers some good use cases

[2020-05-03 13:11] nateshmbhat commented on #88
Yes, removing useLeadingSlashes makes a lot of sense since it would raise ambiguity otherwise.

If that's removed, user can specify leading Slash himself anyway

[2020-05-03 13:11] Milad-Akarie commented on #87
Hey @pueffl The Video by Reso is a bit outdated, sorry about that!
Maybe I'll try to make my own updated Video.

Anyways
try setting the initialRoute in the ExtendedNavigator not the MaterialApp, I believe that's what's causing the error.
Tip: You don't actually need to set the initialRoute if you annotate your HomePage with @Initial

[2020-05-03 13:14] nateshmbhat commented on #89
ok cool , for now i can access this function using the `Router()` object anyway 👍

[2020-05-03 13:16] Milad-Akarie commented on #90
That's a good idea. I'll be adding it to the next build.
Thanks again.

[2020-05-03 13:18] nateshmbhat commented on #90
sure , my pleasure 😄
waiting patiently for the build 🧘

[2020-05-03 13:29] Milad-Akarie commented on #85
Hey @carmas123 Everything seems fine on my end.. Could you please share your code?
or at least the error?

[2020-05-03 14:33] nateshmbhat commented on #90
@Milad-Akarie also there's one small change that can slightly optimize things.

Instead of generating a List of Routes , you could generate a `Set` since the order in which the routes are declared is irrelavant.

This would mean that any lookup operations would take O(1) or Constant time .

Likewise i would suggest adding the appropriate getter method in Router to get `Set<Routes>` instead of `Lis

[2020-05-03 15:25] pueffl commented on #87
You are right, without initialRoute everything works so far :-)

Documenting this and documenting the arguments of ExtendedNavigator would be helpful. Needed some time to find out that I can specify initialRoute as argument of ExtendedNavigartor.

Thx.

[2020-05-03 15:25] #87 closed

[2020-05-03 23:16] nateshmbhat opened #91 "Error running AutoRouteGenerator : The getter 'source' was called on null."
Getting the following error when I run the build_runner :

`flutter packages pub run build_runner build --delete-conflicting-outputs`

[code]

### my_bus_router.dart :
[code]

## Flutter Doctor :

Flutter 1.17.0-3.4.pre • channel beta • https://github.com/flutter/flutter.git
Framework • revision e6b34c2b5c (13 hours ago) • 2020-05-02 11:39:18 -0700
Engine • revision 540786dd51
Tools • Dart 2.8.1

[2020-05-04 00:04] Milad-Akarie commented on #91
@nateshmbhat What kinda parameters are you passing to your routes? typeDefs aren't supported!

[2020-05-04 00:25] nateshmbhat commented on #91
Ohh I might have missed it in the api docs. Is this documented ?

[2020-05-04 00:44] nateshmbhat commented on #91
Actually I don't have any typedefs in my screens :

There are my screens :
What am I missing here ? 🤔

[code]

[code]

[2020-05-04 01:01] nateshmbhat commented on #91
As mentioned in the #35 , there are many many use cases for sending a callback function to a Screen.

For example :

I can have multiple callback functions sent to my screens :
say onSubmitForm  and onFormError and formValidator function

that uses the data in the previous screen inside those callbacks. Also we might have business logic inside the Screens that wraps or uses these callbacks as and

[2020-05-04 01:04] nateshmbhat commented on #91
But this issue may be something else since it doesn't even finish the "build" process and gives that `source was called on null` issue.

[2020-05-04 07:30] nateshmbhat commented on #91
is this issue something that you will be looking into in the near future ?
this is an awesome package , one that we want to use in our company but this issue is a blocker for us :/

[2020-05-04 11:32] Milad-Akarie commented on #91
@nateshmbhat It's not that I don't want to support it, for some reason I can't obtain the source it there for I can't generate the required import statement.

but If you're using just Function() it should work fine..I may have messed with something in the previous updates.

[2020-05-06 03:49] #81 closed

[2020-05-06 10:17] jibinjayachandran opened #94 "how to set pop arguments to first screen"
Hi there,
how do we send arguments from screen second to screen first. Please help.

[2020-05-06 10:31] jibinjayachandran commented on #94
Router.navigator.pop('value');

Resolved

[2020-05-06 10:31] #94 closed

[2020-05-06 18:42] rahulnakre opened #95 "Issues with wrapping Widgets with BlocProvider using AutoRouteWrapper"
I wanted to use flutter_bloc (4.0.0) with auto_route (0.4.5), and to wrap it, I had done this

![image](https://user-images.githubusercontent.com/28615350/81215415-506f4000-8fa7-11ea-8b38-306727294071.png)

However, I'd run into this issue:
![image](https://user-images.githubusercontent.com/28615350/81215536-814f7500-8fa7-11ea-8d2b-fb390d62b8ea.png)

I did a hacky fix to combat that issue, which w

[2020-05-06 19:57] rafaelmpessoa commented on #95
@rahulnakre maybe you are doing a wrong call.

Your wrapping Router is in your SearchPage? should be.

[code]

[2020-05-06 20:03] rahulnakre commented on #95
Ah, I simply did my @override in my SearchState, rather than the StatefulWidget, thanks for the help!

[2020-05-06 20:03] #95 closed

[2020-05-07 14:21] rahulnakre commented on #53
`class AuthGuard extends RouteGuard {
  Future<bool> canNavigate(ExtendedNavigatorState navigator, String routeName,
      Object arguments) async {
    if (isLoggedin) {
      return true;
    }
    return await navigator.pushNamed<bool>(Routes.loginScreen);
  }
}`

Where does `isLoggedIn` came from? How do I pass that variable from my widget to my `AuthGuard` ? Thanks!

[2020-05-07 14:36] Milad-Akarie commented on #53
Hey, @rahulnakre well you could directly check your SharedPreferences for a token or if you're using an auth service or something you could inject it in the AuthGuard constructor

class AuthGuard extends RouteGuard {
  Future<bool> canNavigate(ExtendedNavigatorState navigator, String routeName,
      Object arguments) async {
    if (isLoggedin) {
      return true;
    }
    return await navigato

[2020-05-07 15:14] MotiBartov opened #96 "Routes with dependencies and arguments"
Hi Milad,

I have a question about routes and their dependencies.

Consider a route that have dependencies in its constructor (i.e arguments), but these dependencies aren't available when the route is created.. for example:

- A route that requires dependency in its constructor (e.g. a Bloc, AnalyticsService etc'), but this dependency is taken from its wrapper Consumer.

- The route is an **initia

[2020-05-07 18:46] scostagabriel commented on #84
It would be great if leaving tansitions were possible!

A workaround that I'm doing right now for pages that need leaving transitions (most of them are modals) is using just push and passing a custom class extending PageRouteBuilder with my transitions logic that accepts my widget as a parameter.

[2020-05-08 01:34] #91 closed

[2020-05-08 01:34] #89 closed

[2020-05-08 01:34] #88 closed

[2020-05-08 01:34] #90 closed

[2020-05-08 01:36] nateshmbhat opened #97 "Support for complex function types . Types inside functional Parameters are not imported."
## Support for complex function types needed :

### Some examples :
+ TypeA Function(TypeB , TypeA , { TypeC typec , TypeD typed });
+ TypeA Function<T,List\<R>,S>(TypeB , TypeA , [ TypeC typec , TypeD typed ] );
+ final void Function<G extends TypeA>(LocationItem , CheckListItem , G subTypeOfTypeA ,{Future<CoreConfig> a , CreateOrderRequest b} ) onChanged;

**Functions inside Function parameters*

[2020-05-08 01:37] nateshmbhat commented on #97
@Milad-Akarie i'm making progress on this issue , will raise a PR soon :)
Once this is properly done , the library would be unstoppable :D

[2020-05-08 04:12] Ferdzzzzzzzz opened #98 "Can't access navigatorKey"
Hi there,

It seems like the `Router.navigator.key` is no longer available, I read through the changelog but can't see anything obvious that indicates how to access it now, please advise :)

[2020-05-08 13:25] Milad-Akarie commented on #98
@Ferdzzzzzzzz You don't need direct access to the key anymore if You're using the ExtendedNavigator()
you can obtain your navigator state by calling
`ExtendedNavigator.ofRouter<YourRouter>().push(...)`
or if you're using only one Navigator in your App
`ExtendedNavigator.rootNavigator.push(...)`

or using context
`ExtendedNavigator.of(context).push...`

[2020-05-08 13:27] Ferdzzzzzzzz commented on #98
So sorry I meant to close this issue a couple of hours ago, thanks so much...it's an amazing package, can't believe how clean it's making my work project 🔥

[2020-05-08 13:27] #98 closed

[2020-05-08 19:11] rahulnakre commented on #53
Thanks for the help!

[2020-05-09 20:20] visual-velocity commented on #98
How to use custom navigator key inside it

[2020-05-09 20:22] visual-velocity opened #100 "Custom navigator key"
How do we pass user own custom navigator key and how do you get navigator key from this package

[2020-05-10 07:05] visual-velocity commented on #98
Hi, I need direct access to the key for my production app

[2020-05-10 07:07] visual-velocity commented on #100
I need it for my production app

[2020-05-10 11:30] Milad-Akarie commented on #100
Hey, @visual-velocity Sorry for the delay.
Whats your setup?

[2020-05-10 12:06] Milad-Akarie commented on #35
@skybur  finally fixed in auto_route_generator 0.4.10 Thanks @nateshmbhat

[2020-05-10 12:06] #35 closed

[2020-05-10 12:07] Milad-Akarie commented on #97
Implemented in auto_route_generator 0.4.10 by @nateshmbhat.

[2020-05-10 12:07] #97 closed

[2020-05-10 12:56] visual-velocity commented on #100
I added your package and called inside builder method. I need to add Catcher package but it require navigator key.
Issue
1. Need navigator key for catcher package
2. Is ExtendedNavigator can call/integrate without Builder method of MaterialApp widget in app. We are need builder method for other purpose .
Please solve my issue @Milad-Akarie because i need to publish my production app with your pack

[2020-05-10 13:00] visual-velocity commented on #100
For handling all red-screen error and calling ErrorWidgetBuilder from root we need builder method. Inside builder how can we return multiple value/widget

[2020-05-10 14:27] Milad-Akarie commented on #100
as for the custom key in your main method initiate the navigator key inside of Catcher with a GlobalKey of type Navigator not ExtendedNavigator like follows

[code]

Then simply pass the key to the ExtendedNavigator instead of MaterialApp like follows
[code]

[2020-05-10 14:33] Milad-Akarie commented on #100
What ever the package you're using directly in your builder it must have some sort of a wrapper for This's an example using  DevicePreivew package

[code]

 if you're not gonna need any feature that ExtendedNavigator provides you can try this

[code]

[2020-05-10 14:38] visual-velocity commented on #100
I am very happy with your reply and I think it will help a lot and I want to thank you completely

[2020-05-10 14:55] Milad-Akarie commented on #100
@visual-velocity Glad to help. you're welcome.

[2020-05-11 04:07] visual-velocity commented on #100
**Error widget**
You can add error widget which will replace red screen of death. To add this into your app, see code below:

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      navigatorKey: Catcher.navigatorKey,
      //********************************************
      builder: (BuildContext context, Widget widget) {
        Catcher.addDefaultErrorWidget(

[2020-05-11 11:17] AlaaEldeenYsr opened #101 "When trying to reload the whole app that exception keeps throwing 'observer.navigator == null': is not true"

[2020-05-11 11:35] Milad-Akarie commented on #100
[code]

[2020-05-11 12:05] visual-velocity commented on #100
I'm trying to use your response but will get this response
Unhandled Exception: type 'LabeledGlobalKey<NavigatorState>' is not a subtype of type 'GlobalKey<ExtendedNavigatorState<RouterBase>>'

[2020-05-11 12:06] visual-velocity commented on #100
I'm getting this response / error
Unhandled Exception: type 'LabeledGlobalKey<NavigatorState>' is not a subtype of type 'GlobalKey<ExtendedNavigatorState<RouterBase>>'

[2020-05-11 13:03] valentinbercot opened #102 "[Feat. Req.] Some improvements for flutter web"
First of all your library is awesome! Really helpful it handles a lot of boilerplate and route guard is... simply awesome!

Before beginning I recommend you to add issue templates to help your community to provide clear issues like in [Flutter](https://github.com/flutter/flutter/tree/master/.github/ISSUE_TEMPLATE) or [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator/tree/master

[2020-05-11 13:04] Milad-Akarie commented on #100
Are you passing a Globalkey to Catcher()?

[2020-05-11 13:08] visual-velocity commented on #100
Catcher(MyApp(), navigatorKey: new GlobalKey<NavigatorState>());

return MaterialApp(
navigatorKey: Catcher.navigatorKey,
      builder:(context,child){return  ExtendedNavigator<Router>(
        key: Catcher.navigatorKey,
        router: Router(),
      ),},

[2020-05-11 13:10] visual-velocity commented on #100
Catcher(MyApp(), navigatorKey: new GlobalKey());

Inside the navigator key when you pass navigatorKey: new GlobalKey() is look like a custom navigator key that is defined inside Catcher , may be the issue is generated due to it.

[2020-05-11 13:14] Milad-Akarie commented on #100
If you need to pass a predefined key to any widget you have to define the state type Globalkey<NavigatorState>()
Anyways if you're initializing your key directly in the catcher constructor then you don't probably need a predefined key so just let catcher use its default key.
// Don't pass a key
`Catcher(MyApp());`

[2020-05-11 13:17] Milad-Akarie commented on #100
Also don't pass the catcher navigator key to the materialApp, only pass  it to the extended navigator

[2020-05-11 13:17] visual-velocity commented on #100
I already worked with this process but it's not working then i moved this path, can you suggest me is it fine or issue in future.

[2020-05-11 13:21] visual-velocity commented on #100
Inside main function
main(){
GlobalKey<ExtendedNavigatorState<Router>> navigatorKey = new GlobalKey<ExtendedNavigatorState<Router>>();
  CatcherOptions debugOptions = CatcherOptions(PageReportMode(showStackTrace: false), [
    ConsoleHandler(enableApplicationParameters: true,
        enableDeviceParameters: true,
        enableCustomParameters: true,
        enableStackTrace: true)
  ]);

Catcher(

[2020-05-11 13:23] visual-velocity commented on #100
the app is working fine but i'm not sure that is it fine or issue. please suggest me.

[2020-05-11 13:28] Milad-Akarie commented on #100
Catcher is expecting a
`GlobalKey<NavigatorState>()`
Not
`GlobalKey<ExtendedNavigatorState>()`

So just initialize your key with
`final navigatorKey = GlobalKey<NavigatorState>()`

[2020-05-11 13:42] visual-velocity commented on #100
let me check

[2020-05-11 13:46] visual-velocity commented on #100
I m again getting error
Unhandled Exception: type 'LabeledGlobalKey<NavigatorState>' is not a subtype of type 'GlobalKey<ExtendedNavigatorState<RouterBase>>'

[2020-05-12 08:21] YasserOJ opened #103 "[dynamic] is not a class"
Hello,
when I am trying to generate the routes for my app using flutter pub run build_runner build

I'm getting an error and the generated class can't be generated
 I only see [dynamic] is not a class in the generated class

[2020-05-12 13:59] sanalkv opened #104 "Shortened keyword"
anyway to shorten  "  ExtendedNavigator.ofRouter<Router>(). " to some other small keyword ?

[2020-05-12 15:04] Milad-Akarie commented on #102
@valentinbercot count on it.

[2020-05-12 15:07] Milad-Akarie commented on #104
Hey @sanalkv I hate long code my self lol
Do you have any suggestions?  I'm trying to keep it clear that the navigator we're using extends the native one.

[2020-05-12 15:25] sanalkv commented on #104
I saw that the navigator keyword has been made Deprecated. I would suggest you to add "${router_class_name}Navigator" something like that, So that the keyword stays unique even if you   are using nested navigation. I also faced issue while importing routes, even if you use multiple navigation, all the generated code will have a class called Routes. It would be better if these class names and keywo

[2020-05-12 15:33] Milad-Akarie commented on #104
you can pass your preferred Routes class name to the MaterialAutoRouter() annotation

[2020-05-12 15:39] sanalkv commented on #104
I saw that, well i was thinking, by default if its possible to make it unique, then that would be great. Anyways Thanks for the reply, expecting a unique navigator keyword pretty soon.

[2020-05-12 16:22] nateshmbhat opened #105 "Need for more control during unknown routes case"
There are use cases where in we would be writing logic when we see an unknown route.

For example :
In case of a multi module project which is handled by a main/core module that handles the routing , when the route name doesn't match any route for core module , we may wanna delegate the routing to other sub modules like so :

[code]

Can we add some annotation to code generator that lets us run so

[2020-05-15 04:54] nateshmbhat commented on #105
any updates on this ?

@Milad-Akarie

[2020-05-15 08:59] slavap commented on #101
The same problem when trying to use Flutter dev tools "Select Widget Mode" button:
[code]

[2020-05-15 09:31] AlaaEldeenYsr commented on #101
Yes that's actually happens when activating and deactivating the dev tool inspector, I had to use an older version

[2020-05-16 00:45] sennraf commented on #103
Did you try to clean and rebuild it? That worked for me.
`flutter packages pub run build_runner clean` and then `flutter packages pub run build_runner build`

[2020-05-16 12:43] Milad-Akarie commented on #105
Hey Nathan, I think an annotated method inside of the router class will do
the trick.

On Fri, May 15, 2020, 6:54 AM Natesh M Bhat <notifications@github.com>
wrote:

[2020-05-16 12:53] nateshmbhat commented on #105
I mean the new @unkownRouteHandler   annotation example?

[2020-05-16 12:57] nateshmbhat commented on #105
What if users need control on a particular route.? Say when landing route is got, they need to perform some logic.

Does the library currently allow this?

If not, can we add a parameter to the Route annotation class itself?

Something like routeHandler function that accepts the route settings and expects a Route in return.

[2020-05-16 13:15] Milad-Akarie commented on #105
@nateshmbhat I don't know, I think that might make things a bit complex and A router shouldn't be responsible for such work.

That can still be done using a RouteGuard or a Navigation Observer though.

[2020-05-16 13:15] Milad-Akarie commented on #105
Exactly!

[2020-05-16 15:44] YasserOJ commented on #103
Hello,
yes I tried it and it still the same

[2020-05-17 01:50] nateshmbhat commented on #105
Hmm makes sense.

Unknown route handler annotation is fine then ?

[2020-05-17 01:55] nateshmbhat commented on #105
Can you please implement that annotation ?

[2020-05-17 19:48] Haidar0096 opened #106 "Is it possible to set transition on initial route"
Right now I tried this:
[code]
But couldn't get the slide left animation to work on the initial route but it works on other routes,
can I do it to initial route as well?

[2020-05-17 23:59] Milad-Akarie commented on #103
Hey @YasserOJ Can you show me your router setup?

[2020-05-18 00:14] Milad-Akarie commented on #105
Hey @nateshmbhat I still can't figure out a clean solid way of doing this.
I need to have $Router extend the generated Router or the other way around.
Do you have any ideas?

[2020-05-18 01:20] nateshmbhat commented on #105
I think we can do without meddling with the $Router.

We can accept a parameter called "unknownRouteHandler" function in the constructor of the generated Router class.

In the router generated code, when we hit an unknown route, we execute that function if it's not null.

[2020-05-18 01:21] nateshmbhat commented on #105
This is a simple solution and Gives the user control over custom logic execution in unknown route for the router.

[2020-05-18 16:48] visual-velocity commented on #102
We need this feature inside this library.

[2020-05-19 09:54] petoknm opened #107 "How to showDialog with previous route in background"
I was using `showDialog()` with `AlertDialog` to display a dialog over the current route like so:

![Screenshot from 2020-05-19 11-49-51](https://user-images.githubusercontent.com/5087675/82312132-eb641300-99c6-11ea-99d2-099379a2dacb.png)

But when using `auto_route` with something like this:

[code]

I get the dialog but in the background of the dialog I cannot see the previous route. I tried it

[2020-05-19 16:58] ksmsk opened #108 "About implementing AppLifecycleState"
I want to check auth state everytime app resumes. Is there a way to solve this in the library using guards or should i use standard flutter way `WidgetsBindingObserver` interface in every screen? Using `WidgetsBindingObserver` in screens didn't feel right to me as you need to check auth state in two places.

[2020-05-19 23:32] Milad-Akarie commented on #108
Hey @ksmsk why not register WidgetsBindingObserver in your AppWidget?

[2020-05-19 23:36] Milad-Akarie commented on #107
@petoknm I think you might be confusing AlertDialogs with actual screen routes that's decorated as FullScreenDialogs. You can still use your alert dialogs as you used to without auto_route.
You can read more about it here
https://material.io/components/dialogs#usage

[2020-05-20 08:10] ksmsk commented on #108
hey @Milad-Akarie, if i register WidgetsBindingObserver in App Widget that would be before registering router so i can't use router for redirecting. i solved problem by creating a mixin for screen widgets. I just wonder if i can solve it by using guards or other tools in the library. i dig into source code and found out you can register route observers but couldn't be sure how to use them.

[2020-05-20 14:49] moti0375 opened #109 "Initial route transition"
Hi,

Can InitialRoute have a transition?
I've tried to set it as following:
`//login_router.dart`
`@CustomRoute(initial: true, transitionsBuilder: slideRightTransition,durationInMilliseconds: 1000) `
`LoginPage loginPage;`

And adding the route as a widget like this:
`home: ExtendedNavigator<LoginRouter>(router: LoginRouter())`

But no transition happens.

[2020-05-20 15:04] ksmsk opened #110 "Using guard on initial page causing white screen flickering"
Using guards showing blank page before guarded route on initialization. it's like router tries to make transition from a blank page to initial page.

guard is simply return true for testing purpose:
[code]
route:
[code]
app:
[code]
i screencapped problem. i am hot restarting where flickering occurs.
![guardbug2](https://user-images.githubusercontent.com/17592227/82462468-47609180-9ac4-11ea-93c2-60

[2020-05-21 04:05] seekcx opened #111 "auto_route_generator >=0.5.0 depends on auto_route ^0.5.0 which doesn't match any versions, auto_route_generator >=0.5.0 is forbidden."
[code]

[2020-05-21 05:47] seekcx commented on #111
It seems to be because I used the https://pub.flutter-io.cn mirror.

[2020-05-21 05:47] #111 closed

[2020-05-21 14:33] melewetwo commented on #102
There is also a problem on web when using "@AdaptiveAutoRouter" annotation.
Platform.isAndroid, Platform.isIOS, etc. (Platform.[...] in general) is not available when on web.
There should be a check like
if (kIsWeb) { ... }

[2020-05-21 14:40] Milad-Akarie commented on #110
Hey @ksmsk for me to guard the initialRoute I had to push a blank white page first because navigator doesn't build unless it has at least one route in stack.
That didn't happen before so I'm guessing you're either using custom transitions on the initial Route or something changed in flutter 1.17.1!

[2020-05-21 15:38] #100 closed

[2020-05-21 15:45] prasantco opened #112 "Handle Dynamic link or Deep link or App link"
In today's time, deep linking is being used on mobile end, and the option to handle it has been given in some other packages.
We need this feature inside this library. @Milad-Akarie can you suggest ur or provide this feature as soon as possible how to handle it along with parameters because we are ready to implement inside my production app.

[2020-05-21 15:59] ksmsk commented on #110
hey @Milad-Akarie, thanks for feedback. I tested it with minimal setup so i didn't use anything besides those code i put in issue as example. I tested again with another case and white page still visible splitsecond eventhough it didn't make transition animation. However i understand it's technical limitation. It would be nice if it can be customized. I will avoid using guard on initial route. Tha

[2020-05-21 21:29] melewetwo opened #113 "Web does not support @AdaptiveAutoRouter annotation"
There is also a problem on web when using "@AdaptiveAutoRouter" annotation.
Platform.isAndroid, Platform.isIOS, etc. (Platform.[...] in general) is not available when on web.
There should be a check like
if (kIsWeb) { ... }

[2020-05-21 22:10] Milad-Akarie commented on #113
Hey, @melewetwo Are you saying that `Platform.isIOS` returns true on web Platform?

[2020-05-21 22:11] Milad-Akarie commented on #112
@visual-velocity  I'm actually currently working on web URL parameters so that should be a part of it. stay tuned!

[2020-05-21 22:12] Milad-Akarie commented on #107
closing this for now. feel free to reopen if you have any more queries.

[2020-05-21 22:12] #107 closed

[2020-05-22 05:55] visual-velocity commented on #112
Thank you so much for giving this helpful information.

On Fri, May 22, 2020 at 3:41 AM Milad Alakarie <notifications@github.com>
wrote:

[2020-05-22 08:19] melewetwo commented on #113
No. Getting the platform with this import

import 'dart:io' show Platform;

is not possible on web. It will throw an exception, so no router is created at all.
I added a check if on web platform in my pull request.

[2020-05-25 11:11] excogitatr opened #115 "Firebase analytics recommended way"
Hey great package and it saved lot of time. Is there anyway recommended way to add firebase analytics with this package for `screen_view` event with this package other than using it like this?

[code]

[2020-05-25 11:46] Milad-Akarie commented on #115
MaterialApp(
  builder: ExtendedNavigator (router:...,
  Observers: [
    FirebaseAnalyticsObserver(analytics: analytics),
  ],
);

[2020-05-25 13:59] devtobi opened #116 "WrappedRoute and Navigation guard problem"
I have a problem with the wrappedRoute functionality.
I got a simple widget that looks like this:

[code]

The login bloc depends on a repository and another bloc, so that's why I try to inject them with RepositoryProvider.of (coming from bloc package)

My main app widgets looks like this:

[code]

Now I got two problems:
1. Injecting the userRepository into the guard does not work
2. The widget t

[2020-05-25 15:29] devtobi commented on #116
I finally fixed the errors now.
Solution was to use the MultiRepositoryProvider and MultiBlocProvider not inside the build method of the app, but directly inside the runApp function.

[2020-05-25 15:29] #116 closed

[2020-05-27 05:49] excogitatr commented on #115
Thanks, but what exactly will be the screen_view label. If the page name is HomePage, will it be logged as `HomePage` or `home-page` or `homePage`

[2020-05-27 07:09] sanalkv commented on #110
any update on this? can guard be used for initial page ?

[2020-05-27 08:31] sanalkv opened #117 "router looking for "/" route even after providing the initial route"
I have mentioned a route in  initialroute field, but still the router navigates to "/" before navigating to the mentioned initial route.
I didn't mention any @initial during code generation.

How can i navigate directly to the page mentioned in initial route field without pushing "/" route.

[2020-05-27 19:51] Milad-Akarie commented on #117
Hey @sanalkv That's the native navigator doing, you could always try custom naming your initial route 'prefix/home' and don't annotate it with @initial.

[2020-05-27 19:52] Milad-Akarie commented on #115
ya it will be logged as home-page unless you specify a route name prefix or exclusively specify a custom route name in AutoRoute() annotation

[2020-05-27 19:57] Milad-Akarie commented on #112
Hey @visual-velocity by deep linking do you mean path parameters like '/users/:id or being able to navigate across nested navigators using a single path?

[2020-05-27 20:35] visual-velocity commented on #112
Hi @Milad-Akarie
Yes i mean path parameters like '/users/:id   and along with
https://example.page.link/summer-sale
https://example.page.link/winter-sale?attr=hello
https://example.page.link/login

I am sharing this sample with you, I have to navigate the app on the basis of the path and attributes in the sample .
You create a Dynamic Link either by using the Firebase console, using a REST API, iO

[2020-05-27 20:45] visual-velocity commented on #112
I have to implement like this,Everything from single base route example
![image](https://user-images.githubusercontent.com/63794674/83070405-0f8bb800-a089-11ea-9bd1-acf509a80749.png)

[2020-05-27 20:46] visual-velocity commented on #112
Wildcard parameter matching
Querystring parameter parsing

[2020-05-28 05:11] FilledStacks opened #118 "Web initial route issue [Minor issue]"
Hi there,

Thanks for this great package. I'm experiencing a problem with the onGenerateRoute on Web. I always get the "Route with name not found" error when starting up the app. I realised this is because on Flutter web, at least the latest version there's a blank navigation at the start. It navigates to "" (an empty string). I confirmed this by printing out the routeName in the generated onGener

[2020-05-28 11:07] sanalkv commented on #117
i'm actually passing initial route based on conditions,
 `ExtendedNavigator<Router>(
              router: Router(),
              initialRoute: initialRoute,
            ),`
The initialRoute that im passing is not annotated with @initial.

[2020-05-28 11:45] Milad-Akarie opened #119 "Redesign base structure?"
Hello guys,
@TarekkMA @nateshmbhat @ResoDev  @FilledStacks  @visual-velocity @valentinbercot
I've been working on supporting Flutter web lately and along the way I realized AutoRoute needs some core changes to enhance readability, scalability and give users more control over their router classes.
The new approach I have in mind requires lots of breaking changes mostly in the $Router (template) so

[2020-05-28 11:57] Milad-Akarie commented on #118
@FilledStacks I'll look into it.

[2020-05-28 12:08] Milad-Akarie commented on #118
What's the value of Routes.landingViewRoute?
I can't reproduce!

[2020-05-28 12:32] valentinbercot commented on #119
Hi @Milad-Akarie,

First of all thank you for you interest in my feature request #102 !

I really like your approach and it's of course readable for web devs but I think also readable for mobile devs.

In my opinion mobile devs who wrote client API with Retrofit or Alamofire or consume API documentation in OAS / swagger / RAML format (as on [editor.swagger.io](http://editor.swagger.io/#/)) are con

[2020-05-28 12:32] FilledStacks commented on #118
landingViewRoute is '/'

[code]

That's why I wanted to mark it as a minor issue since it might just be on my PC. I know Flutter web is not to be trusted yet

[2020-05-28 12:33] visual-velocity commented on #119
Hi **@Milad-Akarie and @All**,
 I liked your idea and implementation and it's really good but along with can you think about group router
**Grouped Routers**
In addition to declaring Routes in your Router, you can also declare child Routers. Those routers will have it's Routes presented as being part of the father Router. We may also refer this pattern as Router Grouping or Grouped Routers. This a

[2020-05-28 13:34] Milad-Akarie commented on #119
@valentinbercot Some ppl like to use the native navigator and for that I need to treat arguments and queryParameters as equal.
if arguments == null
arguments =  parse queryParameters from url

or I can only treat arguments as queryParameters if they're passed as a Map?

[2020-05-28 13:37] Milad-Akarie commented on #119
@visual-velocity Yes nested routers are a part of the plan but the first release will only support first level deep linking user/{id} and query parameters
also I'm planning on renaming `ExtendedNavigator to just XNavigator`

[2020-05-28 13:53] nateshmbhat commented on #119
Sounds cool 😎. I suggest naming it   AutoNavigator  which mingles with the library properly

[2020-05-28 13:54] Milad-Akarie commented on #118
I'm on MacBook/ Chrome everything works as expected.
@FilledStacks Need your input in here
https://github.com/Milad-Akarie/auto_route_library/issues/119

[2020-05-28 13:55] Milad-Akarie commented on #119
@nateshmbhat sounds cool but still long lol

[2020-05-28 13:58] excogitatr commented on #115
Great then. Thanks for the help!

[2020-05-28 13:58] #115 closed

[2020-05-28 14:00] visual-velocity commented on #119
No @Milad-Akarie Don't change it because we are using this library inside our production app or organization app.
I am also using inside my production app.Changing the first thing will cost a lot of time and time cost will also go, if you need to change then you can think of using 'to' instead of 'of'.
**_ExtendeNavigator.to_**  instead of **_ExtendeNavigator.of_**

[2020-05-28 14:04] visual-velocity commented on #119
Everyone has an own tag or brand name, and that makes their identity and I don't think it would be completely right to change it.

[2020-05-28 14:19] Milad-Akarie commented on #119
@valentinbercot makes sense. I guess now that users will be using their own router instead of the generated one they can do something like this for easy access
[code]

[2020-05-28 14:36] FilledStacks commented on #118
@Milad-Akarie I wanted to keep this issue here for reference but I think I'll close it. It's still happening to me. i'm using Flutter through fvm, which shouldn't change anything but you never know. It's still happening on my side but I think I'll close this issue so you can focus on #119 .

About my input there. I don't have much to say yet. I'll add some feedback if I have any but for now I thin

[2020-05-28 14:36] #118 closed

[2020-05-28 15:06] frank06 commented on #64
@Milad-Akarie  Is there a reason why multiple routers can't coexist in the same file?

I'd like to define them all in the same place

[code]

[2020-05-28 20:28] HosseinYousefi commented on #103
I have the same issue. It doesn't work with `[functional_widget](https://pub.dev/packages/functional_widget)` package.

[2020-05-29 16:04] fabricioloupias opened #120 "[QUESTION] Hidden back icon from AppBar when navigate new route?"
Hello guys..

**Description**
I will tell you a bit about my problem, I might pass it on in the documentation and I couldn't find it. When I navigate to a new route, the widget I use for that route has an AppBar. Is there a way that the back icon does not appear in that AppBar?

**Use case**
A use case would be that I am standing in a login widget and when I successfully login I want to go to the

[2020-05-29 19:05] Milad-Akarie commented on #120
Hey, @fabricioloupias ExtendedNavigator is an an actual sub class of Navigator so the pushReplacementNamed should be there.
The App bar will automatically show the back button for any route that's not the initialRoute unless you set automaticallyImplyLeading  to false.
[code]
Hope this helps.

[2020-05-29 19:07] Milad-Akarie commented on #112
@visual-velocity you would usually handle this part "https://example.page.link" by your own right?

[2020-05-30 08:02] visual-velocity commented on #112
Hi,
Yes, we will handle it, it was just a sample URL, so a similar URL can also
be found, that's why I added a sample.

On Sat, May 30, 2020 at 12:37 AM Milad Alakarie <notifications@github.com>
wrote:

[2020-05-30 09:50] vasilich6107 commented on #40
This is true the example is not working.
For the first time I have the same error as @jerryzhoujw
When I update pubspeck to use versions instead of path it throws

[code]

[2020-05-30 09:55] vasilich6107 opened #121 "flutter inspector - select widget mode looses current route"
While trying to use flutter inspector - select widget mode the whole app rerenders and looses the state.
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/6721286/83325440-e29bf880-a274-11ea-867c-bd41104ad779.gif)

[2020-05-30 09:59] vasilich6107 commented on #121
Fixed by adding global key to route

[code]

[2020-05-30 10:06] #121 closed

[2020-05-30 10:08] vasilich6107 commented on #101
What inspector tool are you working with?
I had some problems with 'widget inspector mode' but found a solution
https://github.com/Milad-Akarie/auto_route_library/issues/121#issuecomment-636308093

[2020-05-30 10:55] slavap commented on #101
@vasilich6107 Unfortunately your solution is not working, getting the same error with Dart DevTools
Inspector "Select Widget Mode".

[2020-05-30 18:54] fabricioloupias commented on #120
Its works fine, thank you!

[2020-05-30 18:54] #120 closed

[2020-05-31 07:38] p02diada opened #122 "Flutter inspector rebuilds app"
Hi, I have used version 3.0.0 without problem but now with version 0.5.0 I have a problem that when I try to inspect flutter widgets from Android studio it send me to the first screen of the app. Maybe it could be because of not using the default navigator?

[2020-05-31 12:18] Aerofluxx commented on #112
Absolutely on it! Thank you so much for this package Milad, I can't wait for this feature for Flutter Web.

I'm trying to achieve this behavior since like 4 month now. My plan is to have my $baseUrl/orders - navigating the first main Router of my MaterialApp (onGenerateRoute function) and showing the user all orders.

After the user enters the URL $baseUrl/orders/:id it should pass it through the

[2020-06-03 17:01] rdhillbb opened #123 "Argument Mistype"
Here is the code snippet that generates the Argument Mistype. I want to pass a string/

onTap: () {
      getIt<NewsfeedBloc>().add(const NewsfeedEvent.getRegionalNews("USA"));
      ExtendedNavigator.ofRouter<Router>().pushNamed(
        Routes.listRegionArticles,
        arguments: ListRegionArticles(title:newsRegion),
      );
    },

lass ListRegionArticles extends StatefulWidget {
  final Str

[2020-06-04 23:00] ProtoManGG opened #124 "How to Enable pushAndRemoveUntil ?"
the title says it all

[2020-06-05 11:52] atoumbre commented on #108
Hey @ksmsk
Were you able to figure out a solution?

[2020-06-05 12:30] ksmsk commented on #108
hey @atoumbre. I solved the problem by creating a landing screen.

routes.dart:
[code]

landing_screen.dart:
[code]
When app is started first time, it checks if user have valid authentication and registers `AppLifeCycleState` in the meanwhile. Since landing_screen can be initialized only one time i didnt need to dispose the observer. Only one registered observer will be available until app is clos

[2020-06-05 19:20] rdhillbb commented on #123
Found the problem. Fixed all good

[2020-06-05 19:20] #123 closed

[2020-06-10 23:10] rafaelmpessoa commented on #103
I got it locally.

for my case, steps:
`flutter clean`
`flutter pub get`
`flutter pub run build_runner clean`
`flutter pub run build_runner build --delete-conflicting-outputs`

[2020-06-10 23:26] rafaelmpessoa commented on #103
I don't know why but I change the absolute path to relative path and works.

[code]

[2020-06-11 04:22] cocacrave opened #125 "BoxShadow? Elevation? from ExtendedNavigator"
I'm using a package called responsive_framework which wraps the ExtendedNavigator but I noticed theres a shadow on the navigator with a max-width less than screen-width. I think it's ExtendedNavigator because I tried replacing it with one of the page widget directly and the shadow is gone.

Shadow
[code]

No shadow
[code]

[2020-06-11 04:51] cocacrave commented on #125
Found out the cause was CupertinoPageTransition

[2020-06-11 04:51] #125 closed

[2020-06-11 13:26] azhengyongqin opened #126 "How to listener the pop from the previous page"
### How to listener the pop from the previous page
I have a page *B*  that was opened from a network request interceptor  When *B* call `ExtendedNavigator.rootNavigator.pop();` it goes back to *A*.

How do I listen to the router `pop` from B on page A，Because my page B is not `push` from page A .

![image](https://user-images.githubusercontent.com/18138282/84390224-d5461d00-ac29-11ea-8423-d9fa490c

[2020-06-12 12:05] AAllport opened #127 "Flutter 1.2 compatability"
Upgrading to [flutter 1.2 (dev branch)](https://github.com/flutter/flutter/tree/1.20.0-0.0.pre) yields the following error.

I'll downgrade to stable in the meantime

[code]

https://github.com/flutter/flutter/blob/1.20.0-0.0.pre/packages/flutter/lib/src/widgets/app.dart#L228-L245

[2020-06-12 18:52] sharpsan opened #128 "Conditional initial route"
In auto_route version 0.3.1 I implemented the first route shown using this:
[code]

But it appears this is no longer possible due to deprecation and `navigatorKey` no longer being exposed.

Do you have any recommendation on the best way to determine the first route conditionally, depending on something like if the user is logged in?

[2020-06-13 12:03] zebpay-peswani commented on #128
have you found solution to this problem i am facing the same.

[2020-06-14 15:37] rafaelmpessoa opened #129 "@CustomRoute transition is not working in initial router"
what I tried:

[code]
and
[code]

generated code:
[code]

`auto_route: ^0.5.0`
`auto_route_generator: ^0.5.0`

[2020-06-14 17:05] visual-velocity commented on #112
Hey @Milad-Akarie ,any update regarding this issue, i need this feature urgently because we are waiting to add this feature in our production app

[2020-06-15 13:21] Milad-Akarie commented on #128
@sharpsan @zebpay-peswani ExtendedNavigator has an InitialRoute property

[2020-06-15 13:23] Milad-Akarie commented on #126
val result = await ExtendedNavigator.rootNavigator.pushNamed<ReturnType>(screenB)
then inside of B
pop<ReturnType>(result)

[2020-06-15 13:27] Milad-Akarie commented on #112
Hey @visual-velocity I had to reconstruct the whole thing that's why it's taking this long.
I should be able to push a dev-version soon enough. but you should know that there's a lot of breaking changes in the upcoming version.

[2020-06-15 13:34] sharpsan commented on #128
The annotation?  That defines a single route exclusively as the first route.
Did you see my code snippet?

[2020-06-15 13:38] Milad-Akarie commented on #128
[code]

[2020-06-15 13:40] sharpsan commented on #128
Did not see this in the docs.  Thank you!

[2020-06-15 13:42] Milad-Akarie commented on #128
@sharpsan You should know that if for example your HomePage is named "/" and your LoginPage is named "/login" and you set initialRoute to "/login" both pages are going to be pushed because Flutter's navigator treats initial routes as deep links, meaning your stack will look like this ["/", "/login"]

[2020-06-15 13:48] sharpsan commented on #128
For Android I've been able to handle this side effect by overriding the back button functionality.  Originally my thinking was it would be the cleanest approach to conditionally set the initial route programmatically, but as you pointed out this interferes with the expected pop behavior.

Do you think a cleaner solution is to make a dedicated route that returns either routeA widget or routeB's wid

[2020-06-15 13:49] azhengyongqin commented on #126
call `"PushNamed (screenB)` is not on A ，call `pushNamed (screenB)` is in  public network interceptor class

[2020-06-15 14:18] Milad-Akarie commented on #128
maybe your very first approach would work if you don't name your home route "/" so you would have something like
"/home"
"/login"

[2020-06-15 14:38] Milad-Akarie commented on #128
My preferred approach would be to have one initialRoute that's always going to be pushed no matter what, then push a fullscreen login dialog from there and await for it so you act based on the results

[code]
pushing your loginPage as a fullscreenDialog will make the back arrow (the Navigation arrow) a dismiss button (X) icon, can even chose not to display it so it would look like nothing is behin

[2020-06-15 14:55] Milad-Akarie commented on #126
I'm gonna advise you to consider a more architected approach.
but if you're still going with this can always pass a callBack function to your networkRequest function and act upon the results
[code]
which should return
[code]

[2020-06-15 15:03] azhengyongqin commented on #126
Thank you very much for your advice!

[2020-06-15 15:03] #126 closed

[2020-06-16 04:23] visual-velocity commented on #112
Hi Milad,
This is very good news, it is good to know that you are going to publish a
Dev-version, the right thing is that your library is very clean and clean.
Therefore, we are waiting for the updated version of your library, and I am
ready to produce my company with your library. I have been waiting for your
updated version for many days. Please publish the Dev-version quickly.

On Mon, Jun 15,

[2020-06-16 16:12] ngoctranfire opened #130 "Sharing Blocs Across Different Routes"
Hey there, I wanted to try and implement the following: I have Route A and Route B. Both of them use Bloc C. With wrappedRoutes, I can just instantiate and pass in BLoC C. However, I want to make sure they share and use the same BloC. Is that possible?

Any help of trying to do this would be appreciated! This is possible when not using the generator, but since ExtendedNavigator fills in the onGene

[2020-06-16 19:00] ganeshrvel opened #131 "How do I get the current route name?"
I am using the auto_route version ^0.5.0 and how do I get the current route?

I used `ModalRoute.of(context).settings.name;` but it outputs `/` always.

[code]

[2020-06-17 07:28] FakenMaster commented on #100
In case someone composing [wiredash]('https://github.com/wiredashio/wiredash-sdk') with auto_route , he should follow advice as above,only provide the navigatorkey to ExtendedNavigator.

`
class MyApp extends StatelessWidget {
  final _navigatorKey = GlobalKey<NavigatorState>();

  @override
  Widget build(BuildContext context) {
    return Wiredash(
      projectId: "YOUR-PROJECT-ID",
      secre

[2020-06-18 08:33] ganeshrvel opened #132 "Why is 'dart:ui' imported in router.gr.dart file"
Why is the 'dart:ui' package imported in router.gr.dart file?

It's unused and the analyzer keeps throwing error.

[2020-06-19 19:11] mester9000 opened #133 "userSnapshot.connectionState == ConnectionState.waiting"
I have a Firebase app where the home widget of the **MaterialApp** is a **Wrapper(userSnapshot: userSnapshot)** widget. This widget requires a userSnapshot from firebase auth and based on that it shows either the Sign In page or the Menu page.
I switched to auto_route and it gets stuck in the Wrapper widget in the **userSnapshot.connectionState == ConnectionState.waiting** section.

_MaterialApp c

[2020-06-19 21:28] knyghtryda opened #134 "Set<int> type for returnType parameter in @AdaptiveRoute"
Currently I am using the extension methods for most of my routes, but I found that one of my routes with a `Set<int>` return type I had to use `pushNamed<Set<int>>(...)` as I cannot specify a `Set<int>` type in `@AdaptiveRoute(returnType: ...)`.  Is there a way to do this so that 1) I can use the extension method and 2) that I get a return type of `Set<int>` instead of `dynamic` or `Set<dynamic>`?

[2020-06-20 12:22] AniketMalik opened #135 "Using "const" widgets for "const" constructors, even with only single "Key" argument constructor."
This is more of an optimization request than an issue.

Version:
auto_route: ^0.5.0

Recently I discovered some benefits of using `const` constructors which helps in performance optimization for both stateless and statefull widgets while rebuilding the widgets.

Specific line from API docs:

<br>
Read more here:

[StatelessWidget - Performance Optimizations](https://api.flutter.dev/flutter/widgets

[2020-06-20 19:25] JErazo7 commented on #130
I have the same problem, i don´t know how to pass the bloc state to another route using  auto_route.

[2020-06-21 04:55] ganeshrvel commented on #131
@Milad-Akarie Any updates on this?

[2020-06-21 04:57] ganeshrvel commented on #132
I found a similar issue: https://github.com/flutter/flutter/issues/14243#issuecomment-602063460

[2020-06-21 04:58] ganeshrvel commented on #131
I found a similar issue https://github.com/flutter/flutter/issues/14243#issuecomment-602063460

[2020-06-22 20:42] JRamos29 commented on #40
I tried to run the example and got the same error, that was solved with:

[code]

But then during the build it couldn't find the target on ios build, due the project configuration, that has different environments. The solution was create a new flutter project and copy the content from the example's lib folder to the lib of the new project, and the dependencies of pubspec.yaml as well. Now it's wor

[2020-06-22 21:09] JRamos29 opened #136 "Question: Push nested route from nested route? Keep the navigation state?"
Hi Milad,
regarding the #66 question, I'd like to implement a BottomNavigationBar using AutoRoute, and I like to know what's would be a good approach, considering that i have some cases in which from a nested page from a bar item, i need to navigate to another nested page from other bar item.
Can I navigate directly from a nested route to another, or I need to get the reference from a specific roo

[2020-06-24 05:03] nateshmbhat commented on #105
any updates on this ?

[2020-06-24 17:39] Limbou commented on #130
You can try using nested navigator and wrap it with BlocProvider

[2020-06-25 10:58] #133 closed

[2020-06-27 09:39] slavap commented on #127
@AAllport Not sure about you, but works for me in 1.20.0-2.0.pre

[2020-06-27 09:42] slavap commented on #101
@nateshmbhat Could you please take a look at this issue. Supposedly it is quite simple one to fix, but will improve development process a lot.

[2020-06-27 09:43] AAllport commented on #127
Hmm, okay. I'll try getting a minimal example going to see if the issue is just localised to my current project!

[2020-06-27 10:15] Milad-Akarie commented on #136
Hey @JRamos29, sorry for the delay, I've been under the weather lately.
I don't believe your goal is doable using deep linking since pushing a deep link means pushing all the segments leading to your final destination ("/", "/page2","page_detail/:id") -> You're gonna need to pop all three pages to go back to /page1/page_list which can be confusing to users in my opinion.

You could try to create g

[2020-06-27 10:17] Milad-Akarie commented on #134
hey @knyghtryda, ya that was one of the limitations I faced in the old setup..I've been working on a completely new setup that will fix this along other things. so stay tuned

[2020-06-27 10:19] Milad-Akarie commented on #131
Hey @ganeshrvel  you actually need to be inside of a route's widget to get it's name using ModalRoute.of(context).settings.name

[2020-06-27 10:21] Milad-Akarie commented on #132
hmm That's weird. how do I reproduce this?

[2020-06-27 10:21] ganeshrvel commented on #131
@Milad-Akarie how else do i get the current route name? It is very important for me to get there value

[2020-06-27 10:25] Milad-Akarie commented on #130
@ngoctranfire isn't this the same as providing a bloc above your MaterialApp?

[2020-06-27 10:32] Milad-Akarie commented on #127
@AAllport don't pass anything navigator-related to Material App if you're using `builder: ExtendedNavigator()`
you can pass your config directly to `ExtendedNavigator()`
[code]

[2020-06-27 10:39] AAllport commented on #127
So, here's the build function for our application
[code]
(Although I have removed the theming and i18n just to keep the snip short)

I appreciate that It's not a completely standard setup, however, I don't believe it is too far out there to be considered out-of-scope.

`flutter version` output:
[code]

I'll be able to do a few more tests on a minimal project a bit later today

[2020-06-27 10:41] Milad-Akarie commented on #135
Hey @AniketMalik  That's great. I'm total into this. I'm recreating the base structor of auto_route these days and I'll get to this until I'm done with the basics.

[2020-06-27 10:55] Milad-Akarie commented on #127
@AAllport  try passing your FirebaseAnalyticsObserver to ExtendedNavigator's Observers not the materialApp's
[code]

[2020-06-27 11:03] AniketMalik commented on #135
@Milad-Akarie that's great. Looking forward to this update. Cheers. Stay safe.

[2020-06-27 11:12] Milad-Akarie commented on #131
@ganeshrvel I'm still working on this. I tried using a NavigatorObserver but the problem I faced is that flutter notifies deep initial routes push-status in reverse order. for example if I set initial route to /second-page navigator will push "/" then "/second-page" because it works in a deeplinks style but the problem is my observer will get "/second-page" first then "/", I still don't get the lo

[2020-06-27 11:33] ganeshrvel commented on #131
great thank you!

[2020-06-27 14:49] JRamos29 commented on #136
Hi Milad.
Thanks for the answer and this great package.

I implemented my tabs as you said, and it's working. But when i try to push some route of another tab, i'm getting an error message saying that the navigator is null:

[code]

Here is how i'm trying to push the route. I made just a little change in the map of keys using a enum instead of a string for the tabs:

[code]

[2020-06-27 17:17] Milad-Akarie commented on #136
make sure you're using the passed context not the HomePage's context..rename it to ctx if you have to
[code]
also make sure you're passing the keys to the navigators
[code]
maybe you're calling the keys before they're initialized?

[2020-06-27 17:41] JRamos29 commented on #136
I'm initializing the keys and the nestedNavigator in the initState of my HomePageState.
In the code above i'm trying to call a route from another tab. By example, Profile is a Tab and Post is another tab. I can do this?

Here is my HomePage:

[code]

[2020-06-28 09:00] Milad-Akarie commented on #136
Everything looks fine actually
can you debug this method and see if it's HomePageState that's null or the keys?
[code]

[2020-06-28 10:03] JRamos29 commented on #136
The homeState and the Keys are ok. Just the currentState for the given key is returning null.
It could be because i'm getting just one NestedRouter each time in the Scaffold's body like you can see in the code bellow?

When i press the bottom navigation bar, it get a specific router, which can let the others with state equals null, even if they are instantiated in the map on the initState?

[code]

[2020-06-29 22:03] ganeshrvel opened #137 "How to refresh the navigation route stack"
Is it possible to refresh the whole navigation route stack programatically?

In my app the I have few APIs which sends back personalized data when authentication token is available. So when I start my app, the api gives some public data and as soon as I login I can land back to the previous route.
But at this point I need to refresh the API data of that screen and fetch the private data as well. A

[2020-06-30 03:46] AlaaEldeenYsr commented on #101
@nateshmbhat Any updates here ? till now we can't use the latest version.

[2020-06-30 08:51] maxusr commented on #128
The easiest way is to write a custom name to your routes without the leading `/` like
[code]

And in your MaterialApp, set the property `initialRoute` like
[code]

[2020-07-01 13:38] essarn commented on #134
When will this new version be released?

[2020-07-02 14:09] MotiBartov opened #138 "Passing arguments to AutoRouteWapper route"
Hi,

I have a few question about passing arguments to an AutoRouteWrapper route.

How would you suggest to pass arguments which are available only in the wrappedRoute method?
For example a route requires some arguments that taken from Consumers that are wrapping the route, along with argument which given by the router?

Consider the following route

        `class TermsTabPage extends StateFullWid

[2020-07-02 15:55] AAllport commented on #127
Happy to confirm issue resolution, thanks!

[2020-07-02 15:55] #127 closed

[2020-07-03 20:13] Milad-Akarie commented on #134
@knyghtryda @essarn the new version is finally out
auto_route: 0.6.0
auto_route_generator: 0.6.0
This's how you can declare a generic return type using the new approach
`AdaptiveRoute<Set<int>>(page: YOURPAGE)`
please refer to the[ Migration guide]( https://github.com/Milad-Akarie/auto_route_library#migration-guide) if you get stuck

[2020-07-03 20:13] #134 closed

[2020-07-03 20:14] #131 closed

[2020-07-03 20:16] Milad-Akarie commented on #124
Hey @ProtoManGG it's already there. You don't need to enable anything

[2020-07-03 20:16] #124 closed

[2020-07-03 20:17] Milad-Akarie commented on #109
@moti0375 initial routes are added to the stack not pushed unless they're guarded

[2020-07-03 20:17] #109 closed

[2020-07-03 20:18] Milad-Akarie commented on #119
@TarekkMA @nateshmbhat @ResoDev @FilledStacks @visual-velocity @valentinbercot
The new auto_route 0.6.0 is finally out. Please check it out and share your thoughts.

[2020-07-03 20:20] Milad-Akarie commented on #106
@Haidar0096 unfortunately that's not possible with the current Navigator setup.

[2020-07-03 20:20] #106 closed

[2020-07-03 20:21] Milad-Akarie commented on #105
Hey @nateshmbhat I apologize for the delay
would this work for you?
https://pub.dev/packages/auto_route#handling-unknown-routes

[2020-07-03 20:23] Milad-Akarie commented on #110
@ksmsk @sanalkv
I wouldn't recommend guarding the initial route but if you need to, use a CustomRoute() with no transitions to avoid flickering.
Check out the new auto_route: 0.6.0

[2020-07-03 20:23] #110 closed

[2020-07-03 20:23] Haidar0096 commented on #106
Thanks for the reply, are you saying this is not available due to your implementation or due to the framework limitations?

[2020-07-03 20:25] Milad-Akarie commented on #102
@valentinbercot @visual-velocity
check it out  auto_route: 0.6.0

[2020-07-03 20:34] #128 closed

[2020-07-03 20:49] sanalkv commented on #110
Thanks.

[2020-07-03 21:19] Milad-Akarie commented on #106
@Haidar0096 The Navigator adds initial routes to the stack without any transitions. I believe what you need is working on the native side?

[2020-07-03 21:39] Haidar0096 commented on #106
So If I get you this(adding a transition to the initial route) is a limitation in the framework and not in the package.
And I think you are right I will try writing in the native side.
Thanks again!

[2020-07-03 21:40] essarn commented on #134
@Milad-Akarie It's working great, thanks!

[2020-07-03 23:41] nateshmbhat commented on #105
Hi the above change is just a syntactic change to the same design that was there in 0.5.0.

If you see the Material App constructor, there is already a parameter called "unknownRouteHandler" which accepts a generate Route function.

I think we should add support for this.
If user is using native navigator he would mostly choose to use this parameter in the material app.

Are we supporting this in

[2020-07-04 06:21] moti0375 commented on #85
Hi @carmas123, make sure you're using the right context for the bottom sheet.

[2020-07-04 07:33] KaushickSArgekar opened #141 "Pop until method is not working (it's just going back)"
ExtendedNavigator.ofRouter<Router>()
        .popUntil(ModalRoute.withName(className));

When we use this it's not going back to a particular class. it's just going back to the previous screen.
but in the old version, it was working fine.

[2020-07-04 11:11] zeeshanhussain commented on #119
@Milad-Akarie I am not sure if this is intended but on flutter web if I refresh the page or if I open a new route on another tab like /post/1, then in both the cases it redirects me back to '/' root.

[2020-07-04 12:48] Reprevise opened #142 "Avoid type annotation for function expression parameters"
I'm getting a linting error from `effective_dart` saying

This is for the `_pagesMap`.

[2020-07-04 20:25] Milad-Akarie commented on #141
Hey @KaushickSArgekar Thanks for drawing my attention to this. It's happening because route names can't be used as anchors now that we was dynamic paths.
E.g path can be `/users/:id` and the pushed name is `/usere/1`

I already implemented this in version 0.6.1
You could use
` popUntil(RouteData.withPath(..))`
Or the simplified method I added
`popUntilPath(..)` or `popUntilRoot()`
Thanks again for

[2020-07-05 00:45] theweiweiway opened #143 "Question on Preserving tab state with Offstage widgets"
Thanks for the amazing package Milad. I've looked at Fluro, Sailor, built-in Navigation, but this one is the most streamlined solution by far.

I have a quick question  - I'm currently using offstage widgets and multiple ExtendedNavigators in order to preserve the tab state of each tab (I'm sure you're familiar with this: https://medium.com/coding-with-flutter/flutter-case-study-multiple-navigator

[2020-07-05 06:54] KaushickSArgekar commented on #141
Hey @Milad-Akarie,
Just checked the popUntilPath it's working.
Thanks for the response.

[2020-07-05 06:54] #141 closed

[2020-07-05 07:45] gersur opened #144 "[FR] Customizable _placeHolderRoute"
`auto_route` use placeholder route before actually display the initial route.

The code to placeholder route:
https://github.com/Milad-Akarie/auto_route_library/blob/df8be3494e48d0ccc074f345869480633025c22e/auto_route/lib/src/extended_navigator.dart#L66-L68
IMO this looks really ugly, even though only shown for split second.

These page should be customizable to match the splash screen that shown

[2020-07-06 19:46] Milad-Akarie commented on #143
Hey @theweiweiway I've been getting a lot of questions about how parallel navigation can be implemented using auto_route so I made a demo app to demonstrate it [Parallel Navigation Using Auto Route](https://github.com/Milad-Akarie/parallel-navigation-demo-auto-route)

hope this helps!

[2020-07-06 19:47] Milad-Akarie commented on #113
fixed in auto_ruote 0.6.0. Thanks for your efforts @melewetwo!

[2020-07-06 19:47] #113 closed

[2020-07-06 19:49] Milad-Akarie commented on #105
Yes if user choses to use the Native navigator they can use the unknownRouteHandler  in MaterialApp
so how about it?

[2020-07-06 19:52] Milad-Akarie commented on #136
Hey @JRamos29 I've been working on publishing the new auto_route 0.6.0 lately so forgive my delay.
I've created a demo app to demonstrate how you can implement parallel navigation using auto_route
[Parallel Navigation Demo](https://github.com/Milad-Akarie/parallel-navigation-demo-auto-route)
hope this helps!

[2020-07-06 20:32] JRamos29 commented on #136
Hi @Milad-Akarie,
Yes, that is a great example, mainly because the navigation from the Post tab to Profile tab, and without loss the bottom navigation bar. I really appreciated you help and attention. I believe you could add this example in the auto-route examples also, because there's many questions on stack overflow about how to do navigation in this way.
I noticed that are a lot of new features

[2020-07-06 20:32] #136 closed

[2020-07-06 21:41] mester9000 opened #147 "AutoRouteWrapper with ChangeNotifierProvider"
Does the AutoRouteWrapper work with ChangeNotifierProvider? I tried to implement it but it says: Could not find the correct Provider above this Widget.

[2020-07-06 22:42] theweiweiway commented on #143
Thank you!!

[2020-07-06 23:11] slavap commented on #101
Still the same problem with 0.6.1 :-(
[code]

[2020-07-07 00:43] nateshmbhat commented on #105
Then I guess there's no issue. It's cool ✌️

Can you mention this with a code sample in the doc under unknown route handling ?

[2020-07-07 07:22] Milad-Akarie commented on #147
Hey @mester9000 show me some code?

[2020-07-07 07:30] Milad-Akarie commented on #144
hey @gersur it should be white lol I switched tog green to better see if it flickers and forgot to switch it back.
It'll be fixed soon.

[2020-07-07 07:31] Milad-Akarie commented on #142
Hey @Reprevise  will check it out.

[2020-07-07 07:42] Milad-Akarie commented on #138
Hey @MotiBartov I honestly haven't put a lot of though in this as I was focusing on  more routing-related issues. I believe handling wrapped routes solution needs to be redesigned, but anyways.. why do you need to pass the bloc as an argument when you can just injected inside your widget using context?  you're supposed to provide not consume inside of the wrapper, at least with the current setup.

[2020-07-07 07:52] Milad-Akarie commented on #101
Hey @slavap sorry for the delay I've been a bit busy lately.
How can I reproduce this?

[2020-07-07 08:07] MotiBartov commented on #138
Hi Milad,

First, I really appreciate your attention to this and that you understood
the problem.
For me, currently it works great as described but I had to share it with
you.

Secondly, regarding the bloc dependency approach,
In did, I can get it using the BlocProvider.of(context) but how would you
get access to it in the InitState method?

As you know Flutter, it is not good practice to try acce

[2020-07-07 08:40] mester9000 commented on #147
@MaterialAutoRouter(routes: <AutoRoute>[
CustomRoute(
      page: ResultScreen,
      transitionsBuilder: TransitionsBuilders.fadeIn,
      durationInMilliseconds: 400),
...])

class ResultScreen extends StatelessWidget implements AutoRouteWrapper {
  @override
  Widget wrappedRoute(BuildContext context) {
    return ChangeNotifierProvider(
        create: (_) => ProvResult(
              baseCoin

[2020-07-07 08:41] slavap commented on #101
@Milad-Akarie Sorry for bothering. Reproduce steps is quite simple. Navigate to next page from initial, then call Flutter dev tools and press Inspector "Select Widget Mode" button.
![image](https://user-images.githubusercontent.com/4129763/86750660-f9133d80-bff2-11ea-8081-927b37caeef5.png)

[2020-07-07 09:08] garry-jeromson opened #148 "Approach to navigation testing using ExtendedNavigator"
We're currently trying to get up and running with the package, and have the following conundrum with widget testing:

- We want to test navigation calls using a navigation observer
- Those navigation calls use `ExtendedNavigator`
- In order to do this, we need to wrap our widget under test in a `MaterialApp`, and tell the app to use the `ExtendedNavigator`
- `ExtendedNavigator` always pushes the d

[2020-07-07 09:28] garry-jeromson commented on #148
One initial approach I tried was to use a mock router:

[code]

However, it's not 100% clear how to easily set up the mock router so that it's configured with the routes required to be present for a given test.

[2020-07-07 10:14] yeliulee opened #149 "Nested route navigation"
How to navigate to a nested route outside the nested route navigator

[2020-07-07 11:12] Milad-Akarie commented on #149
@yeliulee How are you nesting the route? could you show me your Router setup?

[2020-07-07 11:32] Milad-Akarie commented on #147
Make sure you run the code generator after you implemented AutoRouteWapper.
Your generated route should look something like this
[code]

[2020-07-07 16:38] garry-jeromson commented on #148
Sometimes it just takes a GitHub issue to prompt figuring things out... we ended up with the following test router setup:

[code]

..and we use it as below:
[code]

The basic approach is to set the widget-under-test as the default route, and provide a simple dummy navigation target for all routes that we wish to observe during tests. This way, we can run widget tests that allow us to verify naviga

[2020-07-07 17:02] #148 closed

[2020-07-07 20:08] #147 closed

[2020-07-07 22:27] Reprevise opened #150 "Error "The method `pushReplacementNamed` was called on null." when using `ExtendedNavigator.root`."
I have everything setup in my `main.dart` class.

[code]

I'm trying to push a new route based on whether or not the user is authenticated but `root` in `ExtendedNavigator#root` is null for some reason. Why would this be?

I have an initial route which is just a page with a loading indicator which will push either the login screen or the home screen.

[2020-07-08 03:20] essarn opened #151 "Generate arguments with private positional parameters"
The generator always generates named parameters for arguments regardless if they were named, optional or positional. If private positional parameters are present will the generated code be invalid since named parameters cannot start with an underscore.

[2020-07-08 04:14] yeliulee commented on #149
[code]

The code is shown above, I wanna navigate to PageUserSecurity on PageHome which is outside the PageUser nested route navigator.

[2020-07-08 13:49] wer-mathurin opened #152 "NestedNavigator() instantiation problem"
Hi,

I just found that if the parent guard list is null it will throw an exception.
To recreate the problem.
`ExtendedNavigator<Router>(
              router: Router(),
            ),`

If you attempt to instantiate NestedNavigator() in a nested route it will throw an exeption.

The workaround:
`ExtendedNavigator<Router>(
              router: Router(),
              guards: [],
            ),`

[2020-07-08 20:20] mpiparo commented on #138
Hi all,
Apologies for hijacking conversation, but I was reading this thread and had similar question, though @MotiBartov your comment of "I can get it using the BlocProvider.of(context)" is what got my attention. I am trying to pass a "pre-existing" Bloc to a new route so it can be wrapped as a Provider to the new page.

The issue I am having is when I try to get the Bloc using: BlocProvider.of<My

[2020-07-08 21:30] moti0375 commented on #138
Hi,

Does your pre-existing bloc is an ancestor of the route?
How did you created it and is it really up in the widget tree of this route, have you used BlocProvider for it?

Which context you used?
Notice that the wrappedRoute method has a higher level context (the context of the router Navigator i guess).

      Widget wrappedRoute(BuildContext context) { // <== This is a higher context make sur

[2020-07-09 01:00] mpiparo commented on #138
Thanks for the reply, Moti.
I haven't tried the Consumer from the Provider packager, just the Flutter Bloc package so far. But when I inspect the context passed into wrappedRoute it appears the TopBloc is destroyed by the time it gets passed in - which is odd since I had thought the context would be same as the one as the scope calling the Navigator, unless I'm mistaken.

The parent page is creati

[2020-07-09 04:47] qjatjr1108 opened #153 "It does not work if you pushpeeplink 2 numbers through the route of NestedRouter"
hi mliad!
I'm using your router package well :)

Below is my router
[code]

On the DevRouteHomeScreen screen
When called, it moves well on the first attempt.
`ExtendedNavigator.of(context).pushDeepLink('/users/2/posts_one/posts_two', queryParams: queryParams);`

However, from the second attempt, the following error occurs.

[code]

[2020-07-09 05:45] moti0375 commented on #138
If the TopBloc is created by BlocProvider which is the ancestor of the top page so it accessible only to the widget tree under it right? (which is the sub tree of the first page)

If you navigate to other page from that page it is obviously that the next page root context is same as the previous page which is higher than the BlocProvider which creates the first page.

Therefore it is not accessibl

[2020-07-09 10:24] yamamz opened #154 "ExtendedNavigator cant observe Route observer"

[2020-07-09 10:36] Milad-Akarie commented on #154
Show me some code?

[2020-07-09 10:40] Milad-Akarie commented on #153
Hey @qjatjr1108 ya I've been working on that. Native Navigator devs  prevented calling push and friends within push and friends for some reason!
Any ways this whole deep linking approach turned out to be a failure. I'm pushing a cleaner approach that works! tonight or tomorrow at most so stay tuned.

[2020-07-09 10:41] Milad-Akarie commented on #152
@wer-mathurin  noted.. fix will be pushed soon!
Thanks for reporting!

[2020-07-09 10:42] Milad-Akarie commented on #150
@Reprevise Where are you pushing the route from?

[2020-07-09 10:50] Reprevise commented on #150
This is from the initial route. The initial route's existence is just to decide whether or not a user should go to the home screen or the login screen.

[2020-07-09 10:59] Milad-Akarie commented on #149
@yeliulee Please refer to [this ](https://github.com/Milad-Akarie/auto_route_library/issues/153)

[2020-07-09 12:55] Milad-Akarie commented on #150
first of all @Reprevise only assign Router() to onGenerateRoute if you're not using ExtendedNavigator.
Where are you assigning the initial route in your code?

[2020-07-09 12:58] Milad-Akarie commented on #138
@moti0375  Exactly! so the best way to provide a bloc that's accessible by multiple screens is by providing it above MaterialApp or at least the ExtendedNavigator()

[2020-07-09 13:00] Reprevise commented on #150
Removing the `onGenerateRoute` parameter of `MaterialApp` worked, thanks!

[2020-07-09 13:00] #150 closed

[2020-07-09 17:06] peswanibros opened #155 "new version pushing initial route in infinite loop."
[code]

[2020-07-09 17:10] #155 closed

[2020-07-09 17:22] mpiparo commented on #138
ah. ok. that makes sense and explains what I'm seeing.
Really appreciate the feedback. thanks!!

[2020-07-10 12:42] TheHemantKaushik commented on #152
Hi @wer-mathurin @Milad-Akarie

Is this the error you guys are talking about?

`The following JSNoSuchMethodError was thrown building NestedNavigator(dirty, dependencies: [_ModalScopeStatus]):
TypeError: parentNav.guards is not iterable`

[2020-07-10 13:31] wer-mathurin commented on #152
On my side I'm getting.
I/flutter ( 3060): The getter 'iterator' was called on null.
I/flutter ( 3060): Receiver: null
I/flutter ( 3060): Tried calling: iterator
I/flutter ( 3060):
I/flutter ( 3060): The relevant error-causing widget was:
I/flutter ( 3060): NestedNavigator

To resolve the issue is simple as
Adding the null check operator on the spread operator in the
extended_navigator.dart

in th

[2020-07-11 03:19] xiejibiao opened #156 "before and after push"
I want to do something before and after push. What should I do?

[2020-07-12 08:13] Milad-Akarie commented on #153
My apologies, This took a little longer than I expected. unfortunately I've hit some limitations when it comes to pushing deep links using an ExtendedNavigator  and I had to introduce a new Widget called (AutoRouter) that works as a wrapper for the native navigator. I'm still figuring out how to deprecate the existing ExtendedNavigator and replace it with the new AutoRouter widget.

[2020-07-12 12:47] Holofox opened #157 "Add extension for AutoRoute (context.navigator)"
Hello! I noticed that the use of ```ExtendedNavigator.of(context)``` is quite long, I propose to slightly reduce the call to ```context.navigator``` through the extension:

[code]

Estimated abbreviations::
[code]
What do you think about this?

[2020-07-13 02:18] qjatjr1108 commented on #153
Thank you for confirming this problem deeply. I will be waiting for you to solve the problem at any time.

[2020-07-13 02:30] beomjo opened #158 "AutoRouteGenerator build failed"
Hello Milad
I had a problem while using this nice package

Below is the script I am running
[code]

I'm getting an error while doing `flutter packages pub run build_runner build --delete-conflicting-outputs`
[code]
full log
[code]

my route :
[code]

Pubspec.yaml :
[code]
flutter doctor -v
[code]

I think it's similar to the issue of stack overflow.
https://stackoverflow.com/questions/62853598/flu

[2020-07-13 16:27] JayPerfetto opened #159 "Allow Use of MaterialWithModalsPageRoute as a Route Type"
How would one use a custom route time from a 3rd party package, such as MaterialWithModalsPageRoute from https://github.com/jamesblasco/modal_bottom_sheet?

Right now, my only success has been to manually change my generated file to return something like this:

[code]

[2020-07-13 16:34] Milad-Akarie commented on #157
@Holofox I totally love this!

[2020-07-15 03:00] asideHazle commented on #158
Same version, issue too
[code]

[2020-07-15 17:21] RahmatAliMalik5 opened #160 "Version solving failed"
The version shown at pub.dev is `0.6.1`. I was getting an error of

`Because myapp depends on auto_route_generator 0.6.1 which doesn't match any versions,version solving failed.`

Now, by checking the releases here on github, I have updated the versions in `pubspec.yaml` file to `0.6.0`.
Now, it is working fine for me. Please check and update the version. Thanks for such a great library

[2020-07-16 09:31] mrruby commented on #152
Same story here, the workaround worked

[2020-07-16 13:22] eddiesTime opened #161 "Logging"
Hi @Milad-Akarie

thank you for your work and the contribution of the auto_route package. I love it!

Could you tell me how you would implement logging with your package?

I've tried to follow some tutorials of how to implement navigation logging but:

[code]
Throws the exception:

[code]

I thought about creating a `RouteGuard` that takes care of logging the route transitions as a workaround.

[2020-07-16 19:59] Milad-Akarie commented on #161
Hey @eddiesTime your observe should go inside of `ExtendedNavigator`

[code]
..

[2020-07-17 14:54] yamamz commented on #154
MaterialApp(
                  builder: ExtendedNavigator<Router>(router: Router()),
                  navigatorObservers: <NavigatorObserver>[
                    biometricAuthRouteObserver,
                  ],)

[2020-07-17 14:56] yamamz commented on #154
the class that listened

class BiometricLocker extends StatefulWidget {
  final Widget child;
  const BiometricLocker({
    Key key,
    @required this.child,
  }) : super(key: key);

  @override
  _BiometricLockerState createState() => _BiometricLockerState();
}

class _BiometricLockerState extends State<BiometricLocker> with RouteAware {
  OverlayEntry _overlayEntry;
  bool isOverlay;
  bool _is

[2020-07-17 14:57] yamamz commented on #154
it only listen to push

[2020-07-17 21:30] Milad-Akarie commented on #160
@RahmatAliMalik5 should be fixed in version 0.6.2
Thanks for reporting

[2020-07-17 21:30] #160 closed

[2020-07-17 21:33] Haidar0096 commented on #106
@Milad-Akarie ??

[2020-07-17 21:56] Milad-Akarie commented on #152
Fixed in auto_route: 0.6.2
**Note:** NestedNavigator is an ExtendedNavigator without a router now
Thanks for reporting

[2020-07-17 21:56] #152 closed

[2020-07-17 21:59] Milad-Akarie commented on #158
@qjatjr1108  @asideHazle  could you guys try the new version 0.6.2? I'm not sure what's going on here!

[2020-07-17 21:59] Milad-Akarie commented on #157
added in auto_route: 0.6.2
Thanks for your contribution.

[2020-07-17 21:59] #157 closed

[2020-07-17 22:00] Milad-Akarie commented on #156
Hey @xiejibiao you could use a RouteGuard for the before.
by after do you mean after the route is popped?

[2020-07-17 22:03] Milad-Akarie commented on #153
Hey @qjatjr1108   check out the new version 0.6.2
be sure to replace NestedNavigator with a regular ExtendedNavigator without a router and use the regular push method the push your nested routes.

[2020-07-17 22:13] Milad-Akarie commented on #151
@essarn hmm it will in the next build.

[2020-07-17 22:13] Milad-Akarie commented on #144
@gersur Fixed in auto_route 0.6.2
Sorry for the delay

[2020-07-17 22:13] #144 closed

[2020-07-17 22:16] Milad-Akarie commented on #142
@Reprevise  done.. I also switched to to using relative routes in the generated file so the linter is happy!

[2020-07-17 22:16] Milad-Akarie commented on #138
Closing this for now

[2020-07-17 22:16] #138 closed

[2020-07-17 22:18] Milad-Akarie commented on #122
@p02diada  it has to do with the navigator state not being kept since it's not inside of the MaterialApp anymore
This will fix it
[code]

[2020-07-17 22:18] #122 closed

[2020-07-17 22:24] Milad-Akarie commented on #117
@sanalkv initial route doesn't mean root route inside of Flutter navigator it means initial destination
if your routes map looks like this
[code]

and you set the initial destination to "/login" Navigator is going to treat it as a deep link and push root first which is "/" then push "/login" so you have a working back stack

initial route is meant more for deep linking than deciding what page you

[2020-07-17 22:24] #117 closed

[2020-07-17 22:25] Milad-Akarie commented on #85
closing this for now

[2020-07-17 22:25] #85 closed

[2020-07-17 22:28] Milad-Akarie commented on #129
Should be fine in auto_route 0.6.2

[2020-07-17 22:28] #129 closed

[2020-07-17 22:29] Milad-Akarie commented on #149
With the auto_route 0.6.2 you could just
`ExtendedNavigator.of(ctx).push("user/1/security")`
Check it out

[2020-07-17 22:29] #149 closed

[2020-07-17 22:31] Milad-Akarie commented on #137
Hey @ganeshrvel I suppose that should be done with some reactive solution like flutter bloc listener or change notifier consumer?

[2020-07-17 22:35] Milad-Akarie commented on #154
@yamamz  Observers should go inside of ExtendedNavigator
[code]

[2020-07-17 22:35] #154 closed

[2020-07-17 22:36] Milad-Akarie commented on #102
closing this for now

[2020-07-17 22:36] #102 closed

[2020-07-17 22:40] Reprevise opened #163 "Relative routes breaking in generated file"
The imported screens are not correct:

![image](https://user-images.githubusercontent.com/25782944/87836061-e3a4db80-c85c-11ea-8274-37696479769e.png)

Also it's importing `flutter/material.dart` for some reason.

[2020-07-17 22:41] Milad-Akarie commented on #106
@Haidar0096 That's what I'm saying yes.

[2020-07-17 22:43] Reprevise commented on #163
Also when you make breaking changes, it would be good to bump up the version number to say 0.7.0 so that people don't upgrade until they're ready.

[2020-07-17 23:25] Milad-Akarie commented on #163
@Reprevise  ya I thought about doing that. but I thought I just upgraded a couple days ago ....
anyways.
Are you on windows? why do you have back slashes instead of forward slashes?

[2020-07-17 23:30] Reprevise commented on #163
I'm on Windows. I'm not sure why it made back slashes. The issue remains when removing the first `..\`.

[2020-07-17 23:33] Milad-Akarie commented on #163
That's weird, how does a valid relative import look like if you do it manually?

[2020-07-17 23:34] Reprevise commented on #163
![image](https://user-images.githubusercontent.com/25782944/87838283-82810600-c864-11ea-832f-329e3c28bb81.png)

[2020-07-18 00:10] Milad-Akarie commented on #163
@Reprevise can you check auto_route_generator: 0.6.3 and confirm if it works?

[2020-07-18 00:12] Milad-Akarie commented on #151
handled in version auto_route_generator: 0.6.3
Thanks for reporting

[2020-07-18 00:12] #151 closed

[2020-07-18 00:14] Reprevise commented on #163
Seems to work now, for some reason `flutter/material.dart` seems to get imported though.

[2020-07-18 00:18] Milad-Akarie commented on #163
ya actually I'm always importing it. mostly for the @required annotation. I guess I could check for that and only import it if there's at least one arguments holder class. with a required annotation.

[2020-07-18 00:22] Reprevise commented on #163
Why don't you just use the `meta` package?

[2020-07-18 02:05] slavap commented on #101
@Milad-Akarie
Now in 0.6.2 it is changed to the following error:
[code]

[2020-07-18 02:23] ganeshrvel commented on #137
Hey @Milad-Akarie , I personally use mobx for flutter. I am wondering if it's possible to refresh the whole navigation stack or refresh the screens as I pop back to the home screen.

Right now as a work around, on logon I just use replaceRouteUntil back to the home screen and let the user start fresh.

[2020-07-18 08:13] Milad-Akarie commented on #163
@Reprevise  You mean export in auto_rout?

[2020-07-18 08:29] Milad-Akarie commented on #101
@slavap I can't reproduce this but I think I know what might be the cause.

[2020-07-18 08:38] Milad-Akarie commented on #163
solved by adding this export to auto_route.dart
`export 'package:meta/meta.dart' show required;`

[2020-07-18 09:54] Milad-Akarie commented on #163
it should all be fine in  auto_route: 0.6.4
closing this now.
Thanks for reporting

[2020-07-18 09:54] #163 closed

[2020-07-18 10:00] Milad-Akarie commented on #135
Hey @AniketMalik  it's been implemented in auto_route: 0.6.4
There will not be a generated args class if a page constructor is marked as const and it has a single `Key` parameter.
also a const keyword is added before the page constructor in the route builder.
Thanks for your contribution.

[2020-07-18 10:00] #135 closed

[2020-07-18 10:00] Milad-Akarie commented on #105
It's mentioned now
Thanks for your efforts.

[2020-07-18 10:00] #105 closed

[2020-07-18 10:45] AniketMalik commented on #135
That's great news. Thank you. Cheers.

[2020-07-18 16:23] eddiesTime commented on #161
Thank you very much @Milad-Akarie !

I don't know how I could miss the property.

[2020-07-18 16:23] #161 closed

[2020-07-18 18:51] finroly opened #165 "The name 'BuildContext' is defined in the libraries 'package:auto_route/auto_route.dart' and 'package:flutter/src/widgets/framework.dart'."
Hi I just bump the version from 0.6.1 to 0.6.4 and getting above error in all my pages.
To resolve this I have to use `import 'package:auto_route/auto_route.dart' as at;`

and  `at.ExtendedNavigator.of(context).`

is there any solution to this or I have to change all of my code?
[code]

[2020-07-19 08:28] Milad-Akarie commented on #165
@peswanibros I'll look into it.

[2020-07-19 10:23] qjatjr1108 commented on #153
@Milad-Akarie
Hello, I changed the Nested Navigation to Extended Navigator in Milad new version 0.6.2, so the deep link seems to work well!!
The page is added to the routeMap I was expecting, and it is different from moving, but in the current solution, I am satisfied!

Thanks so much for the quick fix

[2020-07-19 15:49] rubgithub opened #166 "Upgrading error: auto_route >=0.6.2 depends on path ^1.7.0,"
I'm getting this error when trying to upgrate to ^0.6.4

[code]

[2020-07-19 16:27] FakenMaster commented on #166
when you have a conflict library version in pubspec.yaml, you can add dependency_overrides in pubspec.yaml to solve that.
In this case , add below content in pubspec.yaml .
[code]
[https://github.com/flutter/flutter/issues/20731](https://github.com/flutter/flutter/issues/20731)

[2020-07-19 17:09] furins commented on #166
In general using a dependency override involves some risk: using an override to specify a version outside the range that the package claims to support may break your application. But in this case it seems safe since there are not breaking changes in path 1.7.0 vs 1.6.4 [https://pub.dev/packages/path/changelog].

[2020-07-19 20:18] Milad-Akarie commented on #166
path package was downgraded to 1.6.4 in
[code]
Thanks for reporting

[2020-07-19 20:18] #166 closed

[2020-07-19 20:19] Milad-Akarie commented on #165
@peswanibros I couldn't reproduce the error but I did change some things in
[code]
so please check it out and let me know if the issue was solved.

[2020-07-19 22:09] lanmonster commented on #166
I am not seeing `auto_route_generator: 0.6.5` on pub.dev. any ETA when this will be available?

[2020-07-19 22:15] Milad-Akarie commented on #166
@lanmonster My bad, I thought I pushed it.. it is on pub.dev now.

[2020-07-19 22:37] peswanibros commented on #165
@Milad-Akarie Thanks for your effort!!

I tried 0.6.5

but I am getting below error

[code]
on this line

[code]

[2020-07-19 22:53] peswanibros commented on #165
Ok so I think 0.6.5 code generator was not pushed and not reflecting in `pubspec.yaml` so I changed it to 0.6.5 after reading a closed issue where you said that you pushed 0.6.5. Now I did not get the build context error. But still getting above error. The error does not occur every time. To reproduce it just install the app using use `pushAndRemoveUntil`. after using the app for few seconds press

[2020-07-20 09:54] vasilich6107 opened #168 "MaterialRoute<void> - NoSuchMethodError"
Hi. Thanks for your work.
I decided to update the lib and got some error.

[code]

route.dart file
[code]

fails with error
[code]

if I replace `void` with whatever `dynamic`, `String`, etc. - it builds without errors.

With this libs `void` works ok
[code]

[2020-07-20 10:07] Milad-Akarie commented on #168
I'll look into it.

[2020-07-20 10:53] alvarezGarciaMarcos opened #169 "[Question] Is it possible to use Hero animations with auto_route?"
Hello, I am new to both Flutter and auto_route, I've tried to do a Hero transition with the Hero component provided by Flutter, but the animation seems to be not working at all. Is this related to the use of the ExtendedNavigator?

Thank you in advance.

[2020-07-20 16:12] nguyenduckhai opened #170 "Hot reloading return back to initial page"
Hi! I'm having a problem when using hot reload, the app always return to the initial page. At first, I was thinking it might be related something in my flutter_bloc logic but the problem get solved when I reduced auto_route version to `0.5.0`. It would be nice if this problem can be solve by using the latest version of auto_route.  Here it's a little code in my initial page:
[code]

[2020-07-20 17:08] sharpsan opened #171 "Using helper methods without context"
In auto_route v0.6.2 you specified in your changelog: `Remove ExtendedNavigator.ofRouter method`
However, the documentation still specifies `ExtendedNavigator.ofRouter` is the correct way to use helper methods: `ExtendedNavigator.ofRouter<Router>().pushSecondScreen(args...)`

My question is how can I still use helper methods to push routes with params without a context?

[2020-07-20 20:21] mrruby opened #172 "Replacing nested path"
Hi I have such a nested route:

[code]

Hi can I replace nested route with one from the root?

When I'm doing `context.rootNavigator.replace(Routes.homePage);`

I'm getting

[code]

[2020-07-20 23:47] bounty1342 commented on #170
Not only hot reload but rebuilds in general...

Im on a page with a textfield, when I click on it, I go back to the initial page...

Went back to working   auto_route: 0.6.1

[2020-07-21 03:34] slavap commented on #101
@Milad-Akarie And now in 0.6.5 it has stopped working completely for me :-( Just dies on app startup:
[code]

[2020-07-21 06:25] slavap commented on #101
@Milad-Akarie Reverting back to
auto_route: ^0.6.2
auto_route_generator: ^0.6.3
without any other code changes is fixing previous error with 0.6.5 completely.

[2020-07-21 07:45] voonngee commented on #170
Same issues here

[2020-07-21 08:41] Milad-Akarie commented on #171
Hey @sharpsan please refer to [this](https://github.com/Milad-Akarie/auto_route_library#navigation)

[2020-07-21 08:42] Milad-Akarie commented on #170
I'll look into it.

[2020-07-21 09:55] Milad-Akarie commented on #172
@mrruby Where are yo calling the replace method?

[2020-07-21 09:59] mrruby commented on #172
In Bloc Listener of the nested route Screen

[2020-07-21 10:15] mrruby commented on #172
Every hot reloads on this nested route gives mi also:

[code]

[2020-07-21 10:33] Milad-Akarie commented on #172
Regarding hot reload issue, it was reported and I  just pushed a fix
[code]
I think your first issue is caused by you trying to look up the widgets tree when a widget is building or being disposed.
Could you use ExtendedNavigator without context to confirm this?
`ExtendedNavigator.root.replace(Routes.homePage);`

[2020-07-21 10:36] Milad-Akarie commented on #170
@bounty1342 @voonngee @nguyenduckhai I missed up some code when converting to the wrapper approach.
anyways it was an easy fix
[code]

[2020-07-21 10:39] Milad-Akarie commented on #169
@alvarezGarciaMarcos yes it is, we just had a big upgrade and the hero controller code was lost in the process lol
anyways. it should work fine the latest build
[code]
Thanks for reporting

[2020-07-21 10:39] #169 closed

[2020-07-21 10:40] Milad-Akarie commented on #168
Fixed in
[code]
Thanks for reporting

[2020-07-21 10:40] #168 closed

[2020-07-21 10:59] mrruby commented on #172
The Hot reload issue is fixed indeed.

But the error when switching routes still occurs, even when `ExtendedNavigator.root.replace(Routes.homePage);` is used

[code]

[2020-07-21 11:08] slavap commented on #101
@Milad-Akarie Updated to 0.6.6
Now everything seems to be working, and "Select Widget Mode" ! Thank you!
With this change from doc:
[code]

[2020-07-21 12:14] bounty1342 commented on #171
Should change the reference to ofRouter<Router> there : https://github.com/Milad-Akarie/auto_route_library#navigation-helper-methods-extension.

Probably give a full exemple of custom router also.

[2020-07-21 12:26] akarabach opened #174 "pushReplacementNamed is undefined"
`  ExtendedNavigator.of(context).pushReplacementNamed(Routes.bla);`

pushReplacementNamed - is not defined in that case

`auto_route: ^0.6.6`
`auto_route_generator: ^0.6.6`

[2020-07-21 12:27] Milad-Akarie commented on #174
@akarabach  it was renamed to just "replace"

[2020-07-21 12:27] #174 closed

[2020-07-21 12:31] Milad-Akarie commented on #170
closing this for now then.

[2020-07-21 12:32] bounty1342 commented on #171
Yes with the last push 👍

[2020-07-21 12:34] Milad-Akarie commented on #101
@slavap That's what I did at the begining then I thought invoking a function at the end of  another function
`builder(..)(ctx,child)` might scare some people off lol

[2020-07-21 12:36] Milad-Akarie commented on #101
so I guess I should close this for now.

[2020-07-21 12:44] Manuelbaun commented on #165
Hi,
I also got this issue, when I bumped auto_route version to 0.6.6. Basically, auto_route imports the BuildContext somehow. I can work around this by hiding

`import 'package:auto_route/auto_route.dart' hide BuildContext;`

Should the BuildContext be included in the auto_route?

[2020-07-21 17:11] sharpsan commented on #171
Thanks for pointing me in the right direction.

I'm not too fond of the new requirement to specify the router by name using a string.  Seems like something that should be auto-generated to prevent mis-typing or the need to separately keep track of router names in a constants file.

[2020-07-21 19:50] sharpsan opened #175 "PushReplacementNamed isn't defined"
Reproduce:
[code]
Version: 0.6.6

Error:
[code]

[2020-07-21 19:54] Milad-Akarie commented on #175
renamed to just 'replace'

[2020-07-21 19:54] #175 closed

[2020-07-22 07:16] namaye opened #176 "RouteMatch.copyWith has fewer named Arguments error"
After migrating from 0.5.0 to 0.6.5, I am getting this error message when running the app

[code]

[2020-07-22 08:25] Milad-Akarie commented on #171
@sharpsan I'm planning on coming up with easier ways to access nested navigators without context so stay tuned

[2020-07-22 08:25] Milad-Akarie commented on #171
closing this for now.

[2020-07-22 08:25] #171 closed

[2020-07-22 08:28] Milad-Akarie commented on #176
What flutter version are you on? It looks like I should've got the error on compile time.

[2020-07-22 08:33] namaye commented on #176
My flutter version is `v1.12.13+hotfix.9`

[2020-07-22 08:43] Milad-Akarie commented on #176
@namaye looks like you're using a slightly older version. current stable is 1.17.+.
anyways. it will be handled on the next build.

[2020-07-23 08:14] FakenMaster opened #177 "auto_route_generator import error"
In generated file route.gr.dart , sometime will import below line.

 That's because of import_resolver.dart line 24 check, the path 'package:flutter/material.dart' will be replaced with the relative path.

[2020-07-23 11:16] charm-cloud opened #178 "Question how to open a page(NestedRouter) from notification"
Hi,thanks for the great library.

how to  maintain backstack i.e. preserve navigation ,as i open page from a pending intent i.e notification similar to android TaskStackBuilder

[2020-07-24 02:19] FakenMaster commented on #177
Don't know why author need replace the import path with relative path. I just remove auto_route_generator library code in import_resolver line 24 - 28, then everything is ok.

[2020-07-24 16:41] Milad-Akarie commented on #178
How does the path you get from your notification looks like?

[2020-07-24 16:44] Milad-Akarie commented on #177
Hey @FakenMaster using relative imports is guided by effective dart.
 I'll take a look!

[2020-07-24 16:56] charm-cloud commented on #178
It tend to open a page which is  inside bottom nav ->detailpage-> detailpage1 ->detailpage2

[2020-07-24 16:56] kg551915 opened #179 "How to Pass the BuildContext with Route Change?"
_I'm unsure if I am missing a conceptual understanding._

## Question:
Why isn't the BuildContext being passed with the route change?

## Setup
I have a Bloc Provider at a top widget that then calls a child widget that builds the actual page. Then I have more widgets on-top of those that build the contents of the page. Then one item needs to open up a new page that still uses the same BlocProvider

[2020-07-24 17:09] Milad-Akarie commented on #179
@kg551915 please refer to [this](https://github.com/Milad-Akarie/auto_route_library/issues/138#issuecomment-655914532)

[2020-07-24 17:11] Milad-Akarie commented on #178
@charm-cloud What's your navigators setup? do you have a root navigator that has parallel navigators?

[2020-07-24 17:18] Milad-Akarie commented on #178
In a straightforward nested setup that looks like the following
[code]

simply setting your initial route to `/users/1/posts/details` will take you to your destination and maintain the back stack

[2020-07-24 17:31] charm-cloud commented on #178
Thank you so much for your help , i think i need to upgrade from 0.5.0 ,and the same  approach will work for  this https://github.com/Milad-Akarie/parallel-navigation-demo-auto-route ,i just found the sample

[2020-07-24 17:34] Milad-Akarie commented on #178
It should be simple to migrate but, in case you get lost
https://github.com/Milad-Akarie/auto_route_library#migration-guide

[2020-07-24 17:38] Milad-Akarie commented on #177
@FakenMaster is your package name 'flutter'?

[2020-07-24 17:38] charm-cloud commented on #178
will this approach work for parallel navigators also ?

[2020-07-24 18:38] rafaelmpessoa commented on #158
guys, the same problem here.

I had to figure out what declaration router was causing the unexpected error and, I don't know why, I had to change the router name. I'm using auto_router 0.6.6.

this router was causing this error
`MaterialRoute(page: ReceiveQrcodePage),` and i change to `MaterialRoute(page: ReceiveQrCodePage),`
now its works

[2020-07-24 19:39] Milad-Akarie commented on #178
It's not that simple, you need to assign the initial route (the nested path) to the targeted navigator not the root navigator.

[2020-07-24 19:40] rubgithub opened #180 "Divide Navigation by modules (same project)"
For example I have this folder hierarchy in my single project
-core
  -coreRouter
-auth
 -authRouter
-sales
  -salesRouter
....

And I want to each one has it own navigation control, is is possible? Or is there  a better way to organize it?

[2020-07-24 19:51] Milad-Akarie commented on #180
To answer you question, it is possible to have as many navigators as you want, it's just another flutter widget. but things can get a little messy.
If you're going for a nested approach auto_route will automatically generate separate routers for each parent route.

[code]

[2020-07-24 20:11] rubgithub commented on #180
Can I have a core control and `MaterialRoutes` for each module? For example:
[code]
If it possible, could you please give a short example?

[2020-07-24 20:41] Milad-Akarie commented on #180
If I understood your requirement correctly, this this is what you need to do
[code]

this can be in a separate file
[code]

[2020-07-24 20:44] rubgithub commented on #180
Exactly!
Thank you very much!

[2020-07-24 20:44] #180 closed

[2020-07-25 05:14] FakenMaster commented on #177
No, my package name isn't 'flutter'. It's weired.

[2020-07-25 07:24] charm-cloud commented on #178
Thank you for your help

[2020-07-25 07:24] #178 closed

[2020-07-25 19:57] Prn-Ice opened #181 "Support for GetX"
[GetX](https://pub.dev/packages/get) is a package that is gaining a lot of popularity fast and it does simplify navigation.
I'm wondering if you would consider adding support for auto-generating get routes like you do with the basic flutter navigator.

[2020-07-26 16:37] #179 closed

[2020-07-27 08:13] KieranLafferty opened #182 "Setting initial route based on state"
I'm trying to configure an initial route that changes based on the user's auth status provided via a Bloc state

[code]

This was working in version `"0.6.0"` but stopped working after upgrading to `"0.6.6"`

Is there a recommended way to set the initial route from outside of the generated files? I'm aware that there's an `initial` property on the MaterialRoute and have configured it as follows:

[2020-07-27 10:00] igoriuz opened #183 "Annotation for transition in CustomAutoRouter is ignored"
Annotations for custom transitions are only working when the animation is defined for **CustomRoute** but not for **CustomAutoRouter**. Other fields, like durationInMilliseconds are also not passed.

My code:
[code]

Generated code:
[code]

But it works, if the transition is defined in the CustomRoute object
[code]

[code]

[2020-07-27 11:02] Milad-Akarie commented on #183
@igoriuz actually the logic here is a little weird, it made more sense when @CustomRoute annotation was used lol
When you use MaterialRoute, CupertinoRoute or  CustomRoute in whatever AutoRouter it overrides the global configurations. so if you want your routes to adapt to always match the AutoRouter Config use `AutoRoute`

@CustomAutoRouter(
    transitionsBuilder: TransitionsBuilders.fadeIn,

[2020-07-27 12:03] igoriuz commented on #183
Thanks for the fast reply! Yeah it's indeed a little bit confusing. I thought that by default the global configuration is used and can be overriden by the the (Cupertino/Material/Custom)Route. I will use AutoRoute from now on.

I have another short question, and i'm not completly sure if it's relevant bc i'm upgrading from 0.4.4 to the newest version.
For our tests we wrote a custom MockRouter and

[2020-07-27 12:41] Milad-Akarie commented on #183
I'm not sure. but RouteData is a sub class of RouteSettings. I'm not sure if you can mock it!

[2020-07-27 13:01] igoriuz commented on #183
I've debugged it and the only difference is, that the real app receives RouteSettings with way more attributes than in my mocked app. Anyways, i will probably delay my upgrade to 0.6.6. Thank you for your help!

[2020-07-27 13:01] #183 closed

[2020-07-27 14:53] KieranLafferty commented on #182
It looks like this method is swapping out the initial route I provide with the base route

<img width="378" alt="Screen Shot 2020-07-27 at 7 52 14 AM" src="https://user-images.githubusercontent.com/778142/88556714-2e052580-cfde-11ea-928d-e076fdde5194.png">

<img width="563" alt="Screen Shot 2020-07-27 at 7 52 21 AM" src="https://user-images.githubusercontent.com/778142/88556706-2c3b6200-cfde-11ea-

[2020-07-27 16:14] charmy1 opened #184 "How to Directly jump to the page Using Dynamic Routing"
In the example app ,cant navigate to PostDetails page  or PostHome Page

[2020-07-27 16:27] frank06 opened #185 "The method 'pushNamed' isn't defined for the type 'ExtendedNavigatorState'."
On `auto_route` version `0.6.6` I no longer have access to `pushNamed`. Am I missing something?

[code]

I generated code, clean, restarted VSCode, generated again. Tried with custom, material. No luck.

[2020-07-27 16:36] Milad-Akarie commented on #185
ya it was deprecated for a couple builds and now it's completely removed.
use the shortened ones [push, replace..] without the "named" part.

[2020-07-27 16:37] Milad-Akarie commented on #184
are you using the root navigator?

[2020-07-27 16:38] frank06 commented on #185
Great, thanks!

[2020-07-27 16:38] #185 closed

[2020-07-27 16:45] charmy1 commented on #184
ExtendedNavigator.root.pushNamed("/users/1/posts/details");

[2020-07-27 17:03] Milad-Akarie commented on #184
ya that should work, are you getting an error or something?

[2020-07-27 17:06] charmy1 commented on #184
no errors

[2020-07-28 07:52] Milad-Akarie commented on #184
@charmy1 router setup please?

[2020-07-28 10:00] charmy1 commented on #184
i use the same setup as sample app https://github.com/Milad-Akarie/auto_route_library/tree/master/example

[2020-07-28 17:30] frank06 opened #186 "Generator fails with routes or guards in the same file"
I used to place guards in `router.dart`

This no longer works because the generator is broken, including a:

[code]

For classes in the same file, do not add any imports.

[2020-07-28 17:52] KieranLafferty commented on #182
Seems to be related to a race condition with the Guard that I have set up for the inbox screen. Removing the guard allowed it to set the initialRoute correctly

[2020-07-28 17:57] matuella opened #187 "[Sugestion] More examples"
I think this library would benefit greatly to have more complex use-cases examples - by applying `auto_route` on well-stablished libraries in flutter ecosystem - like nested navigation using bloc, providers, web+mobile, etcetera.

I am up for part of this job, just wanted to make sure if it aligns with the current objective of this package.

[2020-07-29 18:06] razein97 opened #188 "Router not generating file."
Upgraded from 0.5.0 to 0.6.6 and modified router dart for new version.
Now I can't generate file.
Stuck in loop--
[code]

[2020-07-30 04:36] razein97 commented on #188
Problem resolved.
Turns out it was not working because I was on the beta branch on flutter.
Switching to stable resolved it.

[2020-07-30 04:36] #188 closed

[2020-07-30 06:15] namaye opened #189 "Getting blue screen while using guards"
I am getting this blue screen if I use guards. [[Blue Screen Image]](https://ibb.co/g9bb69J). It does not even come inside the AuthGuard class, I checked using breakpoints and print statements.

Other Infos-

- Flutter version = 1.17.5
- Dart = 2.8.4
- auto_route: ^0.6.6
- build_runner: ^1.10.0
- auto_route_generator: 0.6.6

**router.dart**
[code]
**router.gr.dart**
[code]
**auth_guard.dart**
[cod

[2020-07-30 11:44] igin commented on #189
Same here

[2020-07-30 20:26] Milad-Akarie commented on #187
Hey @matuella, That's actually a good idea. I was planning on writing some articles or something after closing the opened issues.

[2020-07-31 04:20] namaye commented on #189
Guys!! Can anyone help us

[2020-07-31 09:52] Chojecki opened #190 "Args are generated as var - Linter warning"
Is it possible to generate args as `final` ?

Right now linter warnings: "Prefer final for variable declarations if they are not reassigned." at _pagesMap

For eg:

`MapSearcherPage: (data) {
      var args = data.getArgs<MapSearcherPageArguments>(nullOk: false); // <-- Here
      return MaterialPageRoute<dynamic>(
        builder: (context) => MapSearcherPage(
          key: args.key,
          k

[2020-07-31 14:48] Milad-Akarie commented on #189
@namaye I'll take a look.
is that something you noticed after upgrading to flutter 1.17.5?

[2020-07-31 15:04] Milad-Akarie commented on #190
you mean this
` var args = data.getArgs<MapSearcherPageArguments>(nullOk: false)`
to this?
` final args = data.getArgs<MapSearcherPageArguments>(nullOk: false)`
if yes, it would be changed in the next build

[2020-07-31 15:05] Milad-Akarie commented on #186
@frank06 The fix will be included in the next build.

[2020-07-31 15:06] Milad-Akarie commented on #184
@charmy1 can I see the generated file?

[2020-07-31 15:10] Milad-Akarie commented on #181
Hey @Prn-Ice  looks cool, but I honestly have no plans on doing that anytime soon.

[2020-07-31 15:12] Prn-Ice commented on #181
No problem, my aim was to plant the seed XD.

[2020-07-31 15:57] Milad-Akarie commented on #181
@Prn-Ice does it expose an onGenerateRouteMethod?

[2020-07-31 16:01] Prn-Ice commented on #181
Yeah, it does.
The recommended approach however is
[code]

[2020-07-31 19:55] charmy1 commented on #184
https://github.com/charmy1/test_routes/blob/master/lib/router/profile_router.gr.dart

[2020-08-01 08:53] Milad-Akarie commented on #190
@Chojecki  done in
[code]
Thanks for reporting.

[2020-08-01 08:53] #190 closed

[2020-08-01 08:53] Milad-Akarie commented on #186
@frank06 fixed in
[code]
Thanks for reporting

[2020-08-01 08:53] #186 closed

[2020-08-01 08:54] Milad-Akarie commented on #189
@namaye @igin
fixed in
[code]
Thanks for reporting

[2020-08-01 08:54] #189 closed

[2020-08-01 08:58] Milad-Akarie commented on #177
@FakenMaster I still don't understand why your package import was imported as a relative path, but I did some changes in
[code]
could you check if you're still getting the error?
also, I added an option to not prefer relative imports just in case!
`MaterialAutoRouter(preferRelativeImports: false,...)`

[2020-08-01 09:02] Milad-Akarie commented on #182
@KieranLafferty How's your router setup?

[2020-08-01 09:06] Tejasvp25 opened #192 ""only "package" and "asset" schemes supported" Error"
[INFO] Generating build script...
[INFO] Generating build script completed, took 450ms

[INFO] BuildDefinition:Initializing inputs
[INFO] BuildDefinition:Reading cached asset graph...
[INFO] BuildDefinition:Reading cached asset graph completed, took 105ms

[INFO] BuildDefinition:Checking for updates since last build...
[INFO] BuildDefinition:Checking for updates since last build completed, took 1.

[2020-08-01 09:08] Tejasvp25 commented on #192
`import 'package:auto_route/auto_route.dart';
import 'package:auto_route/auto_route_annotations.dart';
import 'package:torrentsearch/core/pages/about.dart';
import 'package:torrentsearch/core/pages/settings.dart';
import 'package:torrentsearch/core/pages/splash_screen.dart';
import 'package:torrentsearch/core/pages/terms_and_conditions.dart';
import 'package:torrentsearch/features/torrent/presenta

[2020-08-01 10:01] igin commented on #189
Thanks!

[2020-08-01 10:21] Milad-Akarie commented on #192
@Tejasvp25  This showed after the new update?
could you set preferRelativeImports to false and see if you still get the error?

btw you can use a global CustomAutoRouter with plain AutoRoutes instead of passing your custom settings to each route.
[code]

[2020-08-01 12:34] Braj65 opened #193 "A nested navigator is not able to obtain its router on its own."
I am trying to use the 'nested navigator' 0.6.0 example. But it is giving me a runtime error.
I have a home page containing a bottomnavbar. It shows the landing page(which has nested navigators)
Router class nested config section-
MaterialRoute<void>(
    path: '/landing',
    page: LandingPage,
    children: <AutoRoute>[
      MaterialRoute<void>(path: '/', page: FirstLandingPage),
      Material

[2020-08-01 14:44] Tejasvp25 commented on #192
yes , this issue showed after new update.
I've set preferRelativeImports to false still the issue persists

`import 'package:auto_route/auto_route.dart';
import 'package:auto_route/auto_route_annotations.dart';
import 'package:torrentsearch/core/pages/about.dart';
import 'package:torrentsearch/core/pages/settings.dart';
import 'package:torrentsearch/core/pages/splash_screen.dart';
import 'package:

[2020-08-01 20:17] cgalvar commented on #177
I have the same issue in the lastest version 0.6.7, preferRelativeImports is not available yet, and indeed my package name has the word flutter on it

[2020-08-01 21:17] cgalvar commented on #177
I can confirm that changing the name of my package fixed the issue, Greetings.

[2020-08-02 05:36] #193 closed

[2020-08-02 17:49] vinoopks opened #194 "@MaterialAutoRouter doesnt have named parameter 'routes' for v0.6.7"
auto_route v0.6.7 doesn't seem to have routes List as  a named parameter inside MaterialAutoRouter class.
`class MaterialAutoRouter extends AutoRouter {
  const MaterialAutoRouter(
      {bool generateNavigationHelperExtension,
      bool generateArgsHolderForSingleParameterRoutes,
      String routesClassName,
      String routePrefix})
      : super._(
            generateNavigationHelperExtensi

[2020-08-03 04:30] FakenMaster commented on #177
Sorry for the late response. Yes, after upgrading 0.6.7, the problem is gone! Congratulations! Thx man.
@Milad-Akarie .
By the way , as @cgalvar mentioned, under 0.6.6 version, if the package name contains "flutter", it will cause the problem. So it's the source of problem. Thanks @cgalvar .
So the fix solutions ,it's either upgrade to 0.6.7 or avoid using "flutter" in the package name.
👏👏👏

[2020-08-03 04:31] #177 closed

[2020-08-03 20:59] willhaslett opened #195 "Install/setup. Annotator not recognized. Won't build."
Following the docs for install and setup, the annotator isn't recognized and my project won't build. The latter may (?) be a collision between `auto_route` and `moor`, but I have no way of knowing. The blue line under the import indicates that the package is being imported but not used. What am I missing? If it's a typo, my apologies. Have stared at it...

<img width="1231" alt="Screen Shot 2020-0

[2020-08-03 22:35] KieranLafferty commented on #182
The initial route that was failing to be set has a guard on it I just noticed that a PR that addresses this issue was fixed via #189  so I'll wait for a release that includes that :)

As a short term fix I just removed the guard from the initial route and it works properly

[2020-08-03 22:40] KieranLafferty commented on #182
The only difference between my set up and the one described in #189  is that my routes are defined as

[code]

and my MaterialApp is set up as:

[code]

Then based on whether the user is signed in or not at launch I set the `initialRoute` to be either `InboxScreen` (when signed in) or `OnboardingScreen` (when not signedin)

[2020-08-04 12:02] willhaslett commented on #195
btw, the ask is not to have my code debugged. My suspicion is that the docs could use some clarifying editing.

[2020-08-04 17:03] theweiweiway opened #196 "Passing arguments in nested navigator"
Hi Milad!

I'm having some trouble passing in arguments to a nested route. It seems like it should work - I'm following all the steps in the documentation but the arguments just won't come through. I'm on version 0.6.7 - here's my code:

[code]

[code]

[code]

[code]

also, i get:
[code]

Is this a bug? Or maybe I'm just doing something dumb.. Any help is appreciated, thanks!

[2020-08-04 17:06] theweiweiway commented on #196
Oh, also here is my generated router file:

[code]

[code]

[2020-08-04 21:14] bounty1342 opened #197 "Rebuilt full material page after selecting a textfield"
Hi,

I have a textfield, and accessing after rooting cause rebuild.

Not sure why and how to correct this. Do you have the same behaviour ?

Regards

 PS : could it be related to https://github.com/flutter/flutter/issues/37878 ?

[2020-08-04 22:04] archie-sh opened #198 "[web] initial route not in path on deeplink"
With flutter router the behaviour is the initscreen is loaded then the homescreen using the deeplink http://localhost:7357/#/home:
[code]
With auto_route and the deeplink http://localhost:7357/#/home only the homescreen is in the stack the initial route is skipped
[code]
[code]

[2020-08-05 08:45] Milad-Akarie commented on #198
@archie-sh  Yes, this's the intended behavior for web. opening "/home" should only push the home page.

[2020-08-05 08:46] Milad-Akarie commented on #196
@theweiweiway could you try pushing "/study/"?

[2020-08-05 08:59] archie-sh commented on #198
But it does not match the flutter behaviour

https://api.flutter.dev/flutter/widgets/Navigator/defaultGenerateInitialRoutes.html

If the inteded behaviour is different from flutter's  then I would suggest documenting it in the README.

[2020-08-05 09:12] Milad-Akarie commented on #198
@archie-sh  Yes, This's how it works on native, on web it pushes flat pages as the stack is managed by the browser.
I believe when flutter team is finished with their new navigation solution it's gonna behave something like this on web.

and I know that some docs are missing, I've been really busy lately so I apologize about that.

[2020-08-05 09:34] archie-sh commented on #198
Hey, no worries, thanks for the greaat library. I have had a really good experience with it on mobile.

I will use the native router for now and see what the flutter team comes up with
https://github.com/flutter/flutter/issues/45938
I think it will be a while until the new navigation is there and ill refactor accordingly when it happens.

[2020-08-05 09:55] Milad-Akarie commented on #198
@archie-sh it's cool, are you saying you'd like a similar mobile experience on the web?

[2020-08-05 10:09] archie-sh commented on #198
I did not understand the quesiton.

Bu I think web its different than mobile because users can bookmark a route and then navigate themselves to a specific route, its the issue im having right now.

[2020-08-05 10:15] Milad-Akarie commented on #198
I mean when you navigate to "/second" on web you'd like your stack to be ["/", "/second"]?

[2020-08-05 10:22] archie-sh commented on #198
Yes, just like the native flutter router works.

[2020-08-05 15:41] zhllm commented on #158
MaterialRoute

[2020-08-05 16:03] zhllm commented on #194
You can use ^0.6.0 to get latest version,and it's work.

[2020-08-05 16:05] zhllm opened #199 "Can’t generate routes"
![image](https://user-images.githubusercontent.com/65887926/89436213-807dd900-d778-11ea-83f7-268b06e14aa2.png)

[2020-08-05 16:08] zhllm commented on #199
forever stay action 1，and don't known what meaning that warnings.

[2020-08-05 22:49] sharpsan opened #200 "Flutter stable 1.20 breaking changes"
This notice is pertinent to this library: https://groups.google.com/forum/#!searchin/flutter-announce/55998%7Csort:date/flutter-announce/yoq2VGi94q8/8pTsRL28AQAJ

I just upgraded to the newly-released stable Flutter release 1.20.  Looks like this is the exception I am experiencing when attempting to push routes.  For now, I am unable to push routes.

Console output:
[code]

[2020-08-06 09:23] Dhruv-Garg79 commented on #199
I am also getting the same error.

auto_route version 0.6.7
flutter 1.20.0-7.2.pre

[2020-08-06 13:32] frank06 commented on #199
Just curious: is this library tested somehow?

[2020-08-06 13:38] #192 closed

[2020-08-06 14:02] zhllm commented on #199
just now, i upgrade fluuter to Channel master, 1.21.0-6.0.pre.226, and set auto_route: ^0.6.0, run
`
flutter packages pub run build_runner clean;
flutter packages pub run build_runner build;
`

it's work!!!!!!!

[2020-08-06 14:42] NarHakobyan commented on #200
yeah, it's fully broken

[2020-08-06 15:50] Dhruv-Garg79 commented on #199
I had tried the beta branch and stable branch wasn't working on them. Moving to master branch will not be possible. I have done changes in the generated file manually for now.